::ng-deep {
  .citation-card {
    .mat-form-field-wrapper {
      padding-bottom: 0.5rem;
    }
    .mat-expansion-panel-body {
      padding: 0;
    }
    .mat-form-field-infix {
      width: auto;
    }
    mat-expansion-panel-header.mat-expanded,
    mat-expansion-panel-header.mat-expanded:focus { 
      background-color: rgba(var(--background-hover), 0.04);
      height: 48px;
    }
  }
}

.mat-list-base .mat-list-item {
  font-size: .875rem;
}

.citation-card {
  border-bottom: 1px solid rgba(var(--grey-dimmed), 1);
  .citation-card .small {
    color: rgba(var(--grey-default), 1);
  }
}