<div class="Coverpage" text-direction="ltr" class="flex flex-column justify-between">
    <style>
        .Coverpage {
            display: flex;
            flex-direction: column;
            page-break-after: always;
            justify-content: space-between;
            width: 100vw;
            padding: 0.25cm 2cm;
            box-sizing: border-box;
            height: calc(var(--content-height, 90vh) - 6em);
        }

        .Coverpage h1 {
            font-size: 2.6rem;
            padding-left: 12%;
            display: block;
        }

        .Coverpage h2 {
            font-size: 1.8rem;
            padding-left: 12%;
            display: block;
            margin: 0;
            padding: 0;
        }

        .Coverpage .author-names {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        .Coverpage .author {
            display: block;
            margin: 0.125rem;
            padding: 0;
        }
    </style>
    <div style="height: 2cm;" class="right-align">
        {{{image 'logo' (getMetaData 'journal-meta.title') 2}}}
    </div>
    <div data-type="spacer"></div>
    <div>
        <h1 class="right-align">{{getDocumentValue 'title'}}</h1>
        {{#if (getDocumentValue 'subtitle')}}
        <h2 class="right-align">{{getDocumentValue 'subtitle' }}</h2>
        {{^}}{{/if}}
    </div>
    <span data-type="spacer"></span>
    <div>
        <div class="right-align">
            <span class="author-names">
                {{#each (getDocumentValue 'authors')}}
                <span class="author">{{renderAuthorName this}}</span>
                {{/each}}
            </span>
        </div>
        <div class="footer flex flex-row">
            <div>© {{getYear (getMetaData 'book-meta.history.epubDate')}} {{getMetaData 'book-meta.publisherName'}}</div>
        </div>
    </div>
</div>