@page cover {
    margin: 0;
    padding: 0;
}

[data-type="free"], [data-role="coverpage"] {
    box-sizing: border-box;
    break-after: page;
    display: flex;
    height: var(--content-height, 95pvh);
    // justify-content: space-between;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        -prince-bookmark-level: none;
    }
}

.cover {
    // we don't want to subtract the top and bottom margins for the cover
    --content-height: 92pvh;
    section[data-role="coverpage"], section[data-type="free"] {
        padding: 1cm 2cm;
        h1, p, span {
            border: 1px solid transparent;
        }
    }
    @if isDebug() {
        section[data-role="coverpage"], section[data-type="free"] {
            h1, p, span {
                border: 1px dotted orange;
            }
        }
    }
}

section[data-role="coverpage"],
section[data-type="free"] {
    // it is important  that padding does not increase the box size
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;

    font-size: #{get("typography.paragraph.fontSize", "1rem")};

    p, p:not(:empty) {
        font-size: #{get("typography.paragraph.fontSize", "1rem")};
        margin: 0.125rem 0;
    }

    p:empty {
        margin-top: 0;
        margin-bottom: 0;
    }

    .h1, .h1:not(:empty) {
        font-size: #{get("typography.h1.fontSize", "1.8em")};
        margin: 0.125rem 0;
        line-height: 1.2;
    }
    
    .h2, .h2:not(:empty) {
        font-size: #{get("typography.h2.fontSize", "1.33em")};
        margin: 0.125rem 0;
        line-height: 1.2;
    }

    [data-type="logo"] {
        display: block;
        text-align: center;
        img {
            margin: 0.25rem 0;
            max-height: 8rem;
            max-width: 100%;
        }
    }

    [data-type="spacer"] {
        min-height: 2rem;
        flex-grow: 1;
    }

    @if isDebug() {
        [data-type="spacer"] {
            background: #eee;
            border: 0 dashed #ddd !important;
            border-width: 0 4px 0 4px !important;
        }
    }
}
