<style>
    :root {
        --journal-meta-title: "{{get 'JournalMeta:name'}}";
    }
    @page {
        @top {
            text-align: right;
            content: var(--journal-meta-title) " / " counter(page);
        }
    }
</style>
