.sticky {
    position: sticky;
    top: 4rem;
}

.sidenav {
    background-color: rgba(var(--background-background), 1);
    border: none;
}

.error {
    border-left: 12px solid rgb(255, 166, 0);
    overflow-y: auto;
}

.scrollable {
    overflow: auto;
    margin-top: 4.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    height: calc(100vh - 5rem);
}

.nav {
    position: fixed;
    top: 0;
    z-index: 998;
}

.page {
    transform-origin: top center;
    transform: scale(0.9);
    border-radius: 0.5rem;
    background: rgba(var(--background-card), 1);
    color: rgba(var(--foreground-text), 1);
    margin: 2rem auto 1rem auto;
    padding: 2rem 8rem 1rem 2.75rem;
    max-width: 65rem;
}

::ng-deep {
    .ProseMirror {
        font-family: "Noto Sans", "Noto Sans Arabic", "Noto Color Emoji", sans-serif;
        line-height: 1.6;
        font-size: 0.9rem;
        font-weight: 300;
        outline: none;
        max-width: 50em;

        margin: 0 auto;

        // the editor depends on this to be set to pre-wrap
        white-space: pre-wrap;

        figcaption {
            padding-top: 0.5rem;
        }
    }

    [data-class="error"] {
        border-bottom: 3px solid red;
        border-top: 3px solid red;
        padding: 1rem;
        margin: 1rem;
    }

    pre {
        font-family: "Noto Sans Mono", monospace;
    }

    header {
        margin-bottom: 2rem;
        [data-role="title"] {
            text-align: center;
            font-weight: normal;
            line-height: 1.2;
            font-size: 1.8em;
            margin-bottom: 0.125rem;
            padding: 0;
        }

        #title[data-role="title"]::after {
            padding-left: 1rem;
            text-transform: uppercase;
            text-align: end;
            font-size: 0.75rem;
            color: rgba(var(--foreground-text), 0.4);
            content: "title";
        }

        [data-type="subtitle"] {
            margin-top: 0;
            padding: 0;
            text-align: center;
            font-weight: normal;
            line-height: 1.1;
            font-size: 1.4em;
            margin-bottom: 0.125rem;
        }

        [data-type="subtitle"]::after {
            padding-left: 1rem;
            text-align: end;
            text-transform: uppercase;
            font-size: 0.75rem;
            color: rgba(var(--foreground-text), 0.4);
            content: "subtitle";
        }
    }

    h1 {
        margin-top: 1.6em;
        padding-bottom: 1em;
    }
    h2,
    h3,
    h4,
    h5 {
        font-size: 1.2rem !important;
        margin-top: 4em;
    }
    [data-tex] {
        display: inline;
    }
    [data-tex][data-style="block"] {
        display: block;
    }
    [data-tex]::after {
        border-bottom: 6px solid rgba(var(--foreground-text), 0.5);
        display: inline;
        content: attr(data-tex);
    }

    figure::before {
        display: block;
        content: attr(data-alt);
        font-weight: bold;
        padding-bottom: 1em;
        margin: 0 auto;
    }

    figure {
        margin: 1rem auto;
        width: 80%;
        min-height: 5em;
        padding: 1rem 2em;
        color: rgba(var(--foreground-text), 1);
        border: 2px solid rgba(var(--foreground-text), 0.1);
        border-top: none;
        border-left: none;
        border-radius: 0.25em;

        table {
            border: 2px solid rgba(var(--foreground-text), 0.1);
            tr {
                border: 1px solid rgba(var(--foreground-text), 0.1);
            }
        }
    }

    cite {
        background: rgba(var(--foreground-text), 0.1);
        border-bottom: thin dotted grey;
    }

    [data-part-role="title"] {
        font-size: 3em;
    }

    h1[data-level="1"] {
        border-radius: 0.25em;
        padding-top: 3em;
        padding-bottom: 0.125em;
        margin-bottom: 0.125em;
    }

    [data-level]::before {
        content: "h" attr(data-level) " ";
        font-style: italic;
        color: grey;
        font-size: 0.8em;
        position: absolute;
        width: 4em;
        padding: 0.25em 0.75em 1em 0.25em;
        text-align: right;
        transform: translateX(-6.75em);
    }

    [data-level="1"]::before {
        font-weight: bold;
        font-size: 1em;
    }

    [data-level="1"] {
        width: 100%;
    }

    [data-level="1"][data-type]::after {
        padding-left: 0.5em;
        vertical-align: super;
        font-size: 60%;
        color: rgba(var(--foreground-text), 0.5);
        content: " " attr(data-type) " " attr(data-role);
    }

    .labels {
        span[data-tags] {
            color: rgb(108, 158, 9);
            display: block;
        }
        span[data-tags]::before {
            display: block;
            font-size: 0.8em;
            position: relative;
            text-align: right;
            top: 0;
            right: -5em;
            color: yellowgreen;
            transform: translateX(2rem);
            content: attr(data-tags);
        }
    }

    img:not([src]) {
        width: 1em;
        height: 1em;
    }

    figure::before {
        height: 1em;
        margin: 0;
        padding: 0;
        content: "fig";
        color: rgba(var(--foreground-text), 0.5);
        font-size: 0.8em;
        right: 6em;
        position: absolute;
    }

    img::before {
        height: 1em;
        margin: 0;
        padding: 0;
        content: "img";
        color: rgba(var(--foreground-text), 0.5);
        font-size: 0.8em;
        right: 4em;
        position: absolute;
    }

    math::before {
        height: 1em;
        margin: 0;
        padding: 0;
        content: "eq";
        color: rgba(var(--foreground-text), 0.5);
        font-size: 0.8em;
        right: 2em;
        position: absolute;
    }

    table::before {
        height: 1em;
        margin: 0;
        padding: 0;
        content: "tbl";
        color: rgba(var(--foreground-text), 0.5);
        font-size: 0.8em;
        right: 0.5em;
        position: absolute;
    }
}

.preview-reference {
    font-size: 75%;
    overflow-y: auto;
    background: rgba(var(--background-card), 1);
    color: rgba(var(--foreground-text), 1);
    margin-bottom: 0.5rem;
}

dl {
    dt {
        font-weight: bold;
    }
}

.pandoc-node-preview {
    transform: scale(0.8);
    text-wrap: wrap;
    img {
        min-width: 20px;
        min-height: 20px;
    }
}

.rounded {
    border-radius: 1rem;
}

.log-viewer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    .log-header {
        height: 1.6rem;
        font-size: 0.8rem;
        font-weight: bold;
        background: rgba(var(--background-card), 1);
    }
    .log-list {
        max-height: calc(100vh - 8.5rem);
        overflow-y: auto;
    }
}
