@if (params$ | async; as params) {

<mat-toolbar class="nav flex" color="primary">
    <button mat-icon-button [routerLink]="['/', 'start', params.projectId]" class="mr1"
        matTooltip="Discard the current upload and start anew"><mat-icon>home</mat-icon></button>
    <div>Import a manuscript</div>
    <span class="spacer"></span>
</mat-toolbar>

<div *ngIf="manuscript$ | async; let manuscript; else loading" class="col-12"></div>

<mat-sidenav-container *ngIf="manuscript$ | async; let manuscript" class="col-12">
    <mat-sidenav mode="side" position="end" [opened]="manuscript?.state != undefined"
        class="col-4 pr1 sidenav mat-elevation-z0" fixedTopGap="64" fixedInViewport="true">
        <div class="col-12">
            <app-preview-actions-center></app-preview-actions-center>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="col-8 scrollable pt1 py4">
        <div #editor></div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loading>
    <div class="m4 p4 center" *ngIf="!(logHasFatals$ | async)">
        <h1 class="h1 mb4 py2 center" *ngIf="instanceData?.instanceTitle">{{ instanceData?.instanceTitle }}</h1>
        <mat-spinner class="mx-auto m2"></mat-spinner>
        <h2>We are processing your document.</h2>
        <p @fade>If the file is large and has many images this might take a minute.</p>
    </div>
</ng-template>

<section *ngIf="logHasFatals$ | async" class="m4 pt2">
    <sfo-admonition class="col-8" title="Processing failed" type="danger" expanded>
        <p>Document processing failed with an error we could not recover from. There might be a part of the processed document that could not be read.</p>
        <p>Please check the messages for more. </p>
        <button mat-stroked-button [routerLink]="['/', 'start', params.projectId]" class="mr1" matTooltip="Discard the current upload and start anew">restart upload</button>
    </sfo-admonition>
</section>

<mat-expansion-panel class="log-viewer col-12 mx-auto mat-elevation-z1" *ngIf="logs$ | async; let logs"
    [expanded]="logHasFatals$ | async">
    <mat-expansion-panel-header class="log-header">
        <mat-panel-title class="flex justify-between">
            <span>Messages ({{ logs.length }})</span>
            <mat-icon *ngIf="logHasFatals$ | async" color="warn">error</mat-icon>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="log-list">
        <sfo-admonition *ngFor="let log of logs" class="pb1" class="col-12" [title]="log.payload?.message || log.payload?.name || log.message || 'Message'" [type]="log.level === 'fatal' || log.level === 'error' ? 'danger' : 'info'">
            <pre *ngIf="log.payload">{{ log.payload | yaml }}</pre>
        </sfo-admonition>
    </div>
</mat-expansion-panel>
}