<mat-card>
    <mat-card-header>
        <mat-card-title>
            Manuscript loaded
        </mat-card-title>
        <mat-card-subtitle>
            Please check whether all chapter titles (h1) are present as required. Figures, captions and other modifications can be made in the next step.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt2 p2 px4">
        <p><i>Tips for a successful import</i></p>
        <ol>
            <li>Make sure to use the Title, Heading 1, Heading 2, .. styles that come with a new word document instead
                of using font sizes</li>
            <li>If you used the Zotero reference plugin in Word all references should be listed below.</li>
        </ol>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button mat-dialog-close>Don't show again</button>
        <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
    </mat-card-actions>
</mat-card>