mat-expansion-panel,
mat-expansion-panel-header {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

mat-expansion-panel.mat-expanded {
  background: var(--mat-expansion-header-hover-state-layer-color);
}

// Angular deprecated ::ng-deep but is one of the nicest solutions at the moment
:host ::ng-deep .mat-expansion-panel-body {
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0;
  padding-top: 0;
}
