.authors {
    margin: 0.5rem 0;
    break-before: never;
    text-indent: initial;

    font-size: #{get("typography.authors.fontSize", "1rem")};
    font-weight: #{get("typography.authors.fontWeight")};
    margin-top: 1rem;
    margin-bottom: 2rem;

    address {
        text-indent: initial;
    }

    p {
        text-indent: initial;
    }

    .affiliations,
    .corresponding {
        font-size: #{get("typography.affiliations.fontSize", "1rem")};
        font-weight: #{get("typography.affiliations.fontWeight")};
        font-style: italic;
    }

    .author-comments {
        line-height: 1;
        p {
            display: inline;
            margin: 0;
            padding: 0;
            font-size: #{get("typography.comments.fontSize", "0.9rem")};
            font-weight: #{get("typography.comments.fontWeight")};
        }
    }

    @if isPagedMedia() {
        .author-comments {
            font-size: #{get("typography.comments.fontSize", "0.9rem")};
            font-weight: #{get("typography.comments.fontWeight")};
            margin-top: 1rem;
            -prince-float-reference: page;
            -prince-float-placement: bottom;
        }
    } @else {
        .author-comments {
            font-size: #{get("typography.comments.fontSize", "0.9rem")};
            font-weight: #{get("typography.comments.fontWeight")};
        }
    }
}
