<form *ngIf="projectId$ | async; let projectId" action="" class="hidden-form m2" enctype="multipart/form-data"
  style="display: none;">
  <input #fileUpload type="file" accept=".docx" (change)="onUpload($event, projectId)" class="btn">
</form>

<div class="dca-heading flex items-center justify-between px2">
  <div class="h2">Project</div>

  <div class="flex items-center">
    <button mat-button (click)="submit('chooseFile')">
      <mat-icon matTooltip="Upload Document">note_add</mat-icon>
    </button>
  </div>
</div>
<div class="dca-scrollarea" *ngIf="files$ | async; let project">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-list>
    <div class="p4" *ngIf="project.length === 0">No files</div>
    <mat-list-item class="document-list" *ngFor="let resource of project">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line [ngClass]="(resource.versions[1]?.VersionId === resource.versions[1]?.currentDocumentVersion) ? 'heighlite' : ''" class="docname">{{ resource.id }}</div>
      
      <div mat-line *ngIf="resource.versions.length > 0">
        <div mat-line *ngFor="let version of resource.versions.slice(1,2); index as i">
          <div class="pl0 md-pl2">
            <p [ngClass]="(version.VersionId === version.currentDocumentVersion) ? 'active' : ''">
              <a (click)="documentRedirect(resource, version)"> {{ version.LastModified | date:'short' }}</a>
              &nbsp;&nbsp;
              <span *ngIf="isDirty$ | async">
                <span class="block h5" *ngIf="(i !== 0) && (version.VersionId === version.currentDocumentVersion)"><span
                    class="important">*</span> To export the latest changes, save the manuscript</span>
              </span>
              <i *ngIf="version.initialDocument">(initial file)</i>
              <span class="block h5"
                *ngIf="version.initialDocument && (version.VersionId === version.currentDocumentVersion) && (isDirty$ | async)">
                <span class="important">*</span> Save the manuscript to create exports
              </span>
            </p>
          </div>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>