a {
    color: var(--background-background);
    cursor: pointer;
    text-decoration: underline;
}
.header {
    background: #555;
    color: #fff;

    button {
        padding-right: 0px !important;
        min-width: 0px !important;
    }
}

.heighlite {
    width: 92%;
    height: 25px;
    margin-left: 26px !important;
    color: white;
    background-color: #0a0a0a;
    display: flex !important;
    align-items: center;
}

.document-list {
    position: relative;
    mat-icon {
        position: absolute;
        top: 10px;
    }
    .latest-version:after {
        content: "New";
        color: #fff;
        background: black;
        border-radius: 5px;
        padding: 3px 8px;
        height: 23px;
        position: absolute;
        margin: -3px 0 0 7px;
        pointer-events: none;
    }
    .important {
        color: red;
    }
}

.spacer {
    flex: 1 1 auto;
}
.docname {
    padding-left: 30px !important;
    font-weight: 500 !important;
    margin-bottom: 8px !important;
    .active{
        text-shadow: 0px 0px 15px #ff0000;
    }
}

.active a:first-child{
    color: rgba(var(--foreground-button-disabled), 1);
    pointer-events: none;
}