<mat-tab-group class="col-12" animationDuration="0ms">
  <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
    <div class="p2">
      <ng-container *ngIf="tab.isGroup">
        <div *ngFor="let control of tab.controls">
          <sfo-dynamic-field
            [schema]="schema.properties?.[control]"
            [aFormControl]="aFormControl"
            [renderMode]="'quickSettings'"
            [control]="control"
          ></sfo-dynamic-field>
        </div>
      </ng-container>

      <!-- Handle single field tabs -->
      <ng-container *ngIf="!tab.isGroup">
        <sfo-dynamic-field
          [schema]="schema.properties?.[tab.controls[0]]"
          [aFormControl]="aFormControl"
          [renderMode]="'quickSettings'"
          [control]="tab.controls[0]"
        ></sfo-dynamic-field>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
