@use "@sciflow/tdk/styles/base";
@use "@sciflow/tdk/styles/debug" as debug;

body {
    font-family: #{get("page.font.family")};
    font-size: #{get("page.font.size")};
    line-height: #{get("page.font.lineHeight")};
    text-align: #{get("page.font.textAlign")};
}

p {
    text-indent: #{get("indent")};
    margin-bottom: #{get("paragraphSpacing")};
}

li {
    p {
        text-indent: initial;
    }
}

table {
    display: block !important;        /* Makes the table a block element */
    overflow-x: auto;      /* Enables horizontal scrolling */
    max-width: 100%;       /* Ensures the table does not exceed the viewport width */
    max-height: 100%;
    overflow-y: auto;
    border-collapse: collapse;
    table-layout: auto;
}

/* Always use 100% for landscape tables */
table[data-orientation="landscape"] {
    width: 100%;
    table-layout: fixed;
}

section[data-role="coverpage"],
section[data-type="free"] {
    height: 95vh;
    // it is important  that padding does not increase the box size
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;

    font-size: 1rem;

    p {
        margin: 0.125rem 0;
    }

    .h1 {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    .h2 {
        font-size: 1.33rem;
        line-height: 1.2;
    }

    [data-type="logo"] {
        display: block;
        text-align: center;
        img {
            margin: 0.25rem 0;
            max-height: 8rem;
            max-width: 100%;
        }
    }

    [data-type="spacer"] {
        min-height: 2rem;
        flex-grow: 1;
    }

    @if isDebug() {
        [data-type="spacer"] {
            background: #eee;
            border: 0 dashed #ddd !important;
            border-width: 0 4px 0 4px !important;
        }
    }
}

/* unset transforms not supported in viewers. This will remove scaling */

img {
    width: unset !important;
    height: unset !important;
}

.caption-body {
    margin: 0 auto !important;
}

.figure-body {
    display: inline !important;
    transform: unset !important;
    img {
        width: unset !important;
        height: unset !important;
    }
}
