$elementsForNumbering: ":not(:empty):not(li p):not(td p):not(th p):not(figcaption p):not([data-role=notes] p):not([data-type=bibliography] p):not([data-type=poetry] p)";

.body {
    // we want all paragraphs aligned to the left of the indent or margin of the elements
    position: relative;
    counter-reset: paragraph 0;

    blockquote[data-type=poetry], p#{$elementsForNumbering} {
        counter-increment: paragraph;
        &::before {
            position: absolute;
            text-indent: 0; // reset any indent 
            left: -1cm; // Set the counter to be exactly 1cm from the left edge of the body
            transform: translateY(0.15rem);
            content: counter(paragraph);
            font-size: 0.9rem;
        }
    }
}