@use "@sciflow/tdk/styles/base";

.cover,
.front,
.body,
.back {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
}

figcaption:before {
    font-weight: bold;
    /* Load defaults from the FigureConfiguration, failing with null if not none is supplied */
    content: #{get("environments.image.label", null, "Environment")} attr(data-figure-number) ": ";
}

figcaption[data-type="table"]:before {
    font-weight: bold;
    /* Load defaults from the FigureConfiguration, failing with null if not none is supplied */
    content: #{get("environments.table.label", null, "Environment")} attr(data-figure-number) ": ";
}

figcaption[data-type="code"]:before {
    font-weight: bold;
    /* Load defaults from the FigureConfiguration, failing with null if not none is supplied */
    content: #{get("environments.code.label", null, "Environment")} attr(data-figure-number) ": ";
}

figcaption[data-type="environment"]:before {
    font-weight: bold;
    content: attr(data-type) attr(data-figure-number) ": ";
}

.figure-wrapper {
    margin: 0.5rem auto;
}

[data-type="bibliography"] {
    text-align: start;
    word-wrap: break-word;
    hyphens: manual;

    p {
        // text-indent: 2em hanging; browsers generally do not have hanging indents
        margin: 0 0 0.5rem 0;
    }

    a {
        text-decoration: none;
    }
}

section {
    margin: 1rem auto;

    figure {
        img {
            max-width: 100%;
        }
    }
}

blockquote[data-type="poetry"] {
    white-space: pre;
    page-break-inside: initial;

    p {
        margin: 0;
    }
}
