$max-height: 280px;
$max-width: calc(32rem);

.cursor-move {
  cursor: move;
}

.drop-zone {
  border: 2px dotted #ddd;
}

.drop-zone-active {
  border: 2px dotted #148dc6;
}

.image {
  img {
    display: block;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    max-height: $max-height;
    max-width: $max-width;
  }
}

.image-container {
  position: relative;
  min-height: calc($max-height/2);
  min-width: calc($max-width/2);
  max-height: $max-height;
  max-width: $max-width;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  width: 100%;
}

.overlay-text {
  color: white;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  max-height: 2.4rem;
}

.overlay-button {
  color: white;
  flex-shrink: 0;
}

.overlay-warning {
  border: 2px solid #f44336;
}
