// DUPLICATE main2
//
// Light Theme
//
$primary-color-50: #E2EDF3;
$primary-color-100: #B6D3E2; //lighter
$primary-color-200: #85B5CF;
$primary-color-300: #5497BC;
$primary-color-400: #3081AD;
$primary-color-500: #0B6B9F; //default
$primary-color-600: #0A6397;
$primary-color-700: #08588D; //darker
$primary-color-800: #064E83;
$primary-color-900: #033C72;
$primary-color-A100: #A1CBFF;
$primary-color-A200: #6EAEFF;
$primary-color-A400: #3B92FF;
$primary-color-A700: #2184FF;
// SF VARS we can override them in .dark-theme
$dca-width: 24rem;
$added-green: #b4ffb4;
$removed-red: #ffb0b0;
$grey-dimmed: #CFD8DC;
$grey-default: #787679;
$grey-high: #59585A;


$background-status-bar:#e0e0e0;
//$background-app-bar:#f5f5f5;
$background-app-bar:#fff;
$background-background:#fafafa;
$background-hover:#000000;
$background-card: #ffffff;
$background-dialog: #ffffff;
$background-disabled-button: #000000;
$background-raised-button: #ffffff;
$background-focused-button: #000000;
$background-selected-button: #e0e0e0;
$background-selected-disabled-button: #bdbdbd;
$background-disabled-button-toggle: #eeeeee;
$background-unselected-chip: #e0e0e0;
$background-disabled-list-option: #eeeeee;
$background-tooltip: #616161;
$background-avatar: #cfecf9;
$background-user-card: #EAEAEA;
// FOREGROUND PALLETE
$foreground-base: #000000;
$foreground-divider: #000000;
$foreground-dividers: #000000;
$foreground-disabled: #000000;
$foreground-disabled-button: #000000;
$foreground-disabled-text: #000000;
$foreground-elevation: #000000; // Setting elevation messes up box shadow percentages, so we do not set it in theming
$foreground-hint-text: #000000;
$foreground-secondary-text: #000000;
$foreground-icon: #000000;
$foreground-icons: #000000;
$foreground-text: #000000;
$foreground-slider-min: #000000;
$foreground-slider-off: #000000;
$foreground-slider-off-active: #000000;
$foreground-button: #034b7d;
$foreground-button-disabled: #708090;


//
// Dark Theme
//
$primary-color-50-dark: #E2EDF3;
$primary-color-100-dark: #B6D3E2; //lighter
$primary-color-200-dark: #85B5CF;
$primary-color-300-dark: #5497BC;
$primary-color-400-dark: #3081AD;
$primary-color-500-dark: #0B6B9F; //default
$primary-color-600-dark: #0A6397;
$primary-color-700-dark: #08588D; //darker
$primary-color-800-dark: #064E83;
$primary-color-900-dark: #033C72;
$primary-color-A100-dark: #A1CBFF;
$primary-color-A200-dark: #6EAEFF;
$primary-color-A400-dark: #3B92FF;
$primary-color-A700-dark: #2184FF;
// SF VARS we can override them in .dark-theme
$grey-dimmed-dark: #909090;
$grey-default-dark: #B0ADAB;
$grey-high-dark: #D4D4D4;

$background-status-bar-dark: #000000;
//$background-app-bar-dark: #f5f5f5;
$background-app-bar-dark: #212121;
$background-background-dark: #303030;
$background-hover-dark: #ffffff;
$background-card-dark: #424242;
$background-dialog-dark: #424242;
$background-disabled-button-dark: #ffffff;
$background-raised-button-dark: #424242;
$background-focused-button-dark: #ffffff;
$background-selected-button-dark: #212121;
$background-selected-disabled-button-dark: #424242;
$background-disabled-button-toggle-dark: #000000;
$background-unselected-chip-dark: #616161;
$background-disabled-list-option-dark: #000000;
$background-tooltip-dark: #616161;
$background-avatar-dark: #2e818c;
$background-user-card-dark: #7d7b7b;
// FOREGROUND PALLETE
$foreground-base-dark: #ffffff;
$foreground-divider-dark: #ffffff;
$foreground-dividers-dark: #ffffff;
$foreground-disabled-dark: #ffffff;
$foreground-disabled-button-dark: #ffffff;
$foreground-disabled-text-dark: #ffffff;
$foreground-elevation-dark: #ffffff; // Setting elevation messes up box shadow percentages, so we do not set it in theming
$foreground-hint-text-dark: #ffffff;
$foreground-secondary-text-dark: #ffffff;
$foreground-icon-dark: #ffffff;
$foreground-icons-dark: #ffffff;
$foreground-text-dark: #ffffff;
$foreground-slider-min-dark: #ffffff;
$foreground-slider-off-dark: #ffffff;
$foreground-slider-off-active-dark: #ffffff;
$foreground-button-dark: #ffffff;
$foreground-button-disabled-dark: #708090;