// DUPLICATE main2/functions.scss:mat-color() but hex-to-color is not
// Changes the output of mat-color to return the css variable
@function mat-color($palette, $hue: default, $opacity: null) {
    @if type-of($hue) == number and $hue >= 0 and $hue <= 1 {
        @return mat-color($palette, default, $hue);
    }

    $color: map-get($palette, $hue);

    @if (type-of($color) != color) {
        @if ($opacity == null){
            @return $color;
        }

        // failsafe
        // @if ($color == null) {
        //   @return $color;
        // }

        // Here is the change from the original function:
        // If the $color resolved to something different from a color, we assume it is a CSS variable
        // in the form of rgba(var(--rgba-css-var),a) and replace the 'a' value.
        // @debug "DEBUG: #{$color}";
        // @debug "DEBUG: #{$hue}";
        // @debug #{str-slice($color, 0, str-index($color, ',')) + $opacity + ')'};
        @return #{str-slice($color, 0, str-index($color, ',')) + $opacity + ')'};
    }

    @return rgba($color, if($opacity == null, opacity($color), $opacity));
}

// Transforms hex to r, g, b
@function hex-to-color($color) {
    @if ($color == null) {
        @return null;
    }
    @return (red($color), green($color), blue($color));
}
