// DUPLICATE: main2
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.
@import 'functions';

// At some point colors should return to root vars
@import 'color_vars';

$custom-typography: mat.m2-define-legacy-typography-config(
  $font-family:  'Roboto, sans-serif',
  $display-4:     mat.m2-define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat.m2-define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat.m2-define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat.m2-define-typography-level(34px, 40px, 400),
  $headline:      mat.m2-define-typography-level(24px, 32px, 400),
  $title:         mat.m2-define-typography-level(20px, 32px, 500),
  $subheading-2:  mat.m2-define-typography-level(16px, 28px, 400),
  $subheading-1:  mat.m2-define-typography-level(14px, 24px, 400),
  $body-2:        mat.m2-define-typography-level(16px, 24px, 500),
  $body-1:        mat.m2-define-typography-level(16px, 20px, 400),
  $caption:       mat.m2-define-typography-level(12px, 20px, 400),
  $button:        mat.m2-define-typography-level(14px, 14px, 500),
  $input:         mat.m2-define-typography-level(inherit, 1.125, 400)
);



// @include mat.define-typography-config($custom-typography);
// @include mat.all-components-typography($custom-typography);
@include mat.all-component-typographies($custom-typography);


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
$palette-sf-primary: (
    50 : rgba($primary-color-50, 1),
    100 : rgba($primary-color-100, 1),
    200 : rgba($primary-color-200, 1),
    300 : rgba($primary-color-300, 1),
    400 : rgba($primary-color-400, 1),
    500 : rgba($primary-color-500, 1),
    600 : rgba($primary-color-600, 1),
    700 : rgba($primary-color-700, 1),
    800 : rgba($primary-color-800, 1),
    900 : rgba($primary-color-900, 1),
    A100 : rgba($primary-color-A100, 1),
    A200 : rgba($primary-color-A200, 1),
    A400 : rgba($primary-color-A400, 1),
    A700 : rgba($primary-color-A700, 1),
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$palette-sf-accent: (
    50 : #EAF3F9,
    100 : #CCE1F2,
    200 : #ACCEE9,
    300 : #8BBBE0,
    400 : #70ADD9,
    500 : #559FD1, // default
    600 : #4E97CC,
    700 : #448DCC,
    800 : #3A84C9,
    900 : #2975C4,
    A100 : #E4F3FF,
    A200 : #B3E2FF,
    A400 : #82D1FF,
    A700 : #69C8FF,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-sf-warn: (
    50 : #f6e1e6,
    100 : #e7b4c1,
    200 : #d88297,
    300 : #c84f6d,
    400 : #bc2a4e,
    500 : #b0042f,
    600 : #a9032a,
    700 : #a00323,
    800 : #97021d,
    900 : #870112,
    A100 : #ffb3b8,
    A200 : #ff8089,
    A400 : #ff4d59,
    A700 : #ff3441,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mat-light-theme-background: (
  status-bar: rgba($background-status-bar, 1),
  app-bar: rgba($background-app-bar, 1),
  background: rgba($background-background, 1),
  hover: rgba($background-hover, 0.04), // TODO(kara): check style with Material Design UX
  card: rgba($background-card,1),
  dialog: rgba($background-dialog,1),
  disabled-button: rgba($background-disabled-button, 0.12),
  raised-button: rgba($background-raised-button, 1),
  focused-button: rgba($background-focused-button, 0.12),
  selected-button: rgba($background-selected-button, 1),
  selected-disabled-button: rgba($background-selected-disabled-button, 1),
  disabled-button-toggle: rgba($background-disabled-button-toggle, 1),
  unselected-chip: rgba($background-unselected-chip, 1),
  disabled-list-option: rgba($background-disabled-list-option, 1),
  tooltip: rgba($background-tooltip, 1),
);

$mat-light-theme-foreground: (
  base: rgba($foreground-base, 1), // having base set destroys the ripples having without vars destroys sliders so we merge and keep base as defaults
  divider: rgba($foreground-divider, 0.12),
  dividers: rgba($foreground-dividers, 0.12),
  disabled: rgba($foreground-disabled, 0.38),
  disabled-button: rgba($foreground-disabled-button, 0.26), // differ opacity
  disabled-text: rgba($foreground-disabled-text, 0.5), // differ opacity
  elevation: rgba($foreground-elevation, 1), // setting elevation messes with box-shadow percentages
  hint-text: rgba($foreground-hint-text, 1),
  secondary-text: rgba($foreground-secondary-text, 0.7), // differ opacity
  icon: rgba($foreground-icon, 0.54), // differ opacity
  icons: rgba($foreground-icons, 0.54), // differ opacity
  text:  rgba($foreground-text, 0.87), // differ opacity
  slider-min:  rgba($foreground-slider-min, 0.87), // differ opacity
  slider-off:  rgba($foreground-slider-off, 0.26), // differ opacity
  slider-off-active:  rgba($foreground-slider-off-active, 0.38), // differ opacity
);

@function create-custom-theme($primary, $accent, $warn, $isDark, $foreground, $background) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $foreground,
    background: $background
  )
}

@function create-custom-typograhpy($typography) {
  @return (
    typography: $custom-typography
  )
}

$sf-primary: mat.m2-define-palette($palette-sf-primary);
$sf-accent: mat.m2-define-palette($palette-sf-accent);
$sf-warn: mat.m2-define-palette($palette-sf-warn);

// $theme-sf-light: create-custom-theme($sf-primary, $sf-accent, $sf-warn, false, $mat-light-theme-foreground, $mat-light-theme-background);

$theme-sf-light: mat.m2-define-light-theme((
 color: (
  primary: $sf-primary,
  accent: $sf-accent,
  warn: $sf-warn,
  is-dark: false,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background
  ),
  typography: $custom-typography,
  density: 0,
));


@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes($theme-sf-light);


// Dark Theme

$mat-dark-theme-background: (
  status-bar: rgba($background-status-bar-dark, 1),
  app-bar: rgba($background-app-bar-dark, 1),
  background: rgba($background-background-dark, 1),
  hover: rgba($background-hover-dark, 0.04), // TODO(kara): check style with Material Design UX
  card: rgba($background-card-dark,1),
  dialog: rgba($background-dialog-dark,1),
  disabled-button: rgba($background-disabled-button-dark, 0.12),
  raised-button: rgba($background-raised-button-dark, 1),
  focused-button: rgba($background-focused-button-dark, 0.12),
  selected-button: rgba($background-selected-button-dark, 1),
  selected-disabled-button: rgba($background-selected-disabled-button-dark, 1),
  disabled-button-toggle: rgba($background-disabled-button-toggle-dark, 1),
  unselected-chip: rgba($background-unselected-chip-dark, 1),
  disabled-list-option: rgba($background-disabled-list-option-dark, 1),
  tooltip: rgba($background-tooltip-dark, 1),
);

$mat-dark-theme-foreground:(
  base: rgba($foreground-base-dark, 1), // having base set destroys the ripples having without vars destroys sliders so we merge and keep base as defaults
  divider: rgba($foreground-divider-dark, 0.12),
  dividers: rgba($foreground-dividers-dark, 0.38),
  disabled-button: rgba($foreground-disabled-button-dark, 0.26), // differ opacity
  disabled-text: rgba($foreground-disabled-text-dark, 0.5), // differ opacity
  elevation: rgba($foreground-elevation-dark, 1), // setting elevation messes with box-shadow percentages
  hint-text: rgba($foreground-hint-text-dark, 1),
  secondary-text: rgba($foreground-secondary-text-dark, 0.7), // differ opacity
  icon: rgba($foreground-icon-dark, 0.54), // differ opacity
  icons: rgba($foreground-icons-dark, 0.54), // differ opacity
  text:  rgba($foreground-text-dark, 0.87), // differ opacity
  slider-min:  rgba($foreground-slider-min-dark, 0.87), // differ opacity
  slider-off:  rgba($foreground-slider-off-dark, 0.26), // differ opacity
  slider-off-active:  rgba($foreground-slider-off-active-dark, 0.38), // differ opacity
);

// $primary-dark: mat.define-palette($palette-sf-primary, 500);
// $accent-dark:  mat.define-palette($palette-sf-accent, A200, A100, A400);
// $warn-dark:  mat.define-palette($palette-sf-warn);

// $theme-sf-dark: mat.define-dark-theme((
//  color: (
//    primary: $primary-dark,
//    accent: $accent-dark, 
//    warn: $warn-dark,
//    is-dark: false,
//    foreground: $mat-dark-theme-foreground,
//    background: $mat-dark-theme-background

//  ),
//  density: 0
// ));

$palette-sf-primary-dark: (
    50 : rgba($primary-color-50, 1),
    100 : rgba($primary-color-100, 1),
    200 : rgba($primary-color-200, 1),
    300 : rgba($primary-color-300, 1),
    400 : rgba($primary-color-400, 1),
    // 500 : rgba($primary-color-500, 1),
    500 : rgba($primary-color-200, 1),
    600 : rgba($primary-color-600, 1),
    700 : rgba($primary-color-700, 1),
    800 : rgba($primary-color-800, 1),
    900 : rgba($primary-color-900, 1),
    A100 : rgba($primary-color-A100, 1),
    A200 : rgba($primary-color-A200, 1),
    A400 : rgba($primary-color-A400, 1),
    A700 : rgba($primary-color-A700, 1),
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$sf-primary-dark: mat.m2-define-palette($palette-sf-primary-dark);
$sf-accent-dark: mat.m2-define-palette($palette-sf-accent);
$sf-warn-dark: mat.m2-define-palette($palette-sf-warn);

//$theme-sf-dark: create-custom-theme($sf-primary-dark, $sf-accent-dark, $sf-warn-dark, true, $mat-dark-theme-foreground, $mat-dark-theme-background) ;

$theme-sf-dark: mat.m2-define-dark-theme((
 color: (
  primary: $sf-primary-dark,
  accent: $sf-accent-dark,
  warn: $sf-warn-dark,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background
  )
));
// Apply the dark theme only when the user prefers dark themes.
@media (prefers-color-scheme: dark) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  // @include mat.core-theme($theme-sf-dark);
  @include mat.all-component-colors($theme-sf-dark);
 }

.dark-theme {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  // @include mat.core-theme($theme-sf-dark);
  @include mat.all-component-colors($theme-sf-dark);
 }


// // EXTRA VAR FIXES

// Fix invert backdrop as we can not use scss invert on css vars
.mat-drawer-backdrop.mat-drawer-shown {
  filter: invert(100%);
}

mat-hint {
  opacity: 0.7;
 }
 