@page: blank {
    @top-left {
        content: none;
    }

    @top-right {
        content: none;
    }

    @bottom-left {
        content: none;
    }

    @bottom-right {
        content: none;
    }
}

@page front:blank {
    @top-left {
        content: none;
    }

    @top-right {
        content: none;
    }

    @bottom-left {
        content: none;
    }

    @bottom-right {
        content: none;
    }
}

@page body:blank {
    @top-left {
        content: none;
    }

    @top-right {
        content: none;
    }

    @bottom-left {
        content: none;
    }

    @bottom-right {
        content: none;
    }
}

@page wide {
    @top-left {
        content: none;
    }

    @top-right {
        content: none;
    }

    @bottom-left {
        content: none;
    }

    @bottom-right {
        content: none;
    }
}
