/**
 * @license
 * Copyright Google LLC All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://github.com/material-components/material-components-web/blob/master/LICENSE
 */
 :root {
    --mdc-theme-primary: #555;
    --mdc-theme-secondary: #4db6ac;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #fff;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
  }
  
  .mdc-theme--primary {
    color: #6200ee !important;
    /* @alternate */
    color: var(--mdc-theme-primary, #6200ee) !important;
  }
  
  .mdc-theme--secondary {
    color: #018786 !important;
    /* @alternate */
    color: var(--mdc-theme-secondary, #018786) !important;
  }
  
  .mdc-theme--background {
    background-color: #fff;
    /* @alternate */
    background-color: var(--mdc-theme-background, #fff);
  }
  
  .mdc-theme--surface {
    background-color: #fff;
    /* @alternate */
    background-color: var(--mdc-theme-surface, #fff);
  }
  
  .mdc-theme--error {
    color: #b00020 !important;
    /* @alternate */
    color: var(--mdc-theme-error, #b00020) !important;
  }
  
  .mdc-theme--on-primary {
    color: #fff !important;
    /* @alternate */
    color: var(--mdc-theme-on-primary, #fff) !important;
  }
  
  .mdc-theme--on-secondary {
    color: #fff !important;
    /* @alternate */
    color: var(--mdc-theme-on-secondary, #fff) !important;
  }
  
  .mdc-theme--on-surface {
    color: #000 !important;
    /* @alternate */
    color: var(--mdc-theme-on-surface, #000) !important;
  }
  
  .mdc-theme--on-error {
    color: #fff !important;
    /* @alternate */
    color: var(--mdc-theme-on-error, #fff) !important;
  }
  
  .mdc-theme--text-primary-on-background {
    color: rgba(0, 0, 0, 0.87) !important;
    /* @alternate */
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87)) !important;
  }
  
  .mdc-theme--text-secondary-on-background {
    color: rgba(0, 0, 0, 0.54) !important;
    /* @alternate */
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54)) !important;
  }
  
  .mdc-theme--text-hint-on-background {
    color: rgba(0, 0, 0, 0.38) !important;
    /* @alternate */
    color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38)) !important;
  }
  
  .mdc-theme--text-disabled-on-background {
    color: rgba(0, 0, 0, 0.38) !important;
    /* @alternate */
    color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.38)) !important;
  }
  
  .mdc-theme--text-icon-on-background {
    color: rgba(0, 0, 0, 0.38) !important;
    /* @alternate */
    color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38)) !important;
  }
  
  .mdc-theme--text-primary-on-light {
    color: rgba(0, 0, 0, 0.87) !important;
    /* @alternate */
    color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87)) !important;
  }
  
  .mdc-theme--text-secondary-on-light {
    color: rgba(0, 0, 0, 0.54) !important;
    /* @alternate */
    color: var(--mdc-theme-text-secondary-on-light, rgba(0, 0, 0, 0.54)) !important;
  }
  
  .mdc-theme--text-hint-on-light {
    color: rgba(0, 0, 0, 0.38) !important;
    /* @alternate */
    color: var(--mdc-theme-text-hint-on-light, rgba(0, 0, 0, 0.38)) !important;
  }
  
  .mdc-theme--text-disabled-on-light {
    color: rgba(0, 0, 0, 0.38) !important;
    /* @alternate */
    color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38)) !important;
  }
  
  .mdc-theme--text-icon-on-light {
    color: rgba(0, 0, 0, 0.38) !important;
    /* @alternate */
    color: var(--mdc-theme-text-icon-on-light, rgba(0, 0, 0, 0.38)) !important;
  }
  
  .mdc-theme--text-primary-on-dark {
    color: white !important;
    /* @alternate */
    color: var(--mdc-theme-text-primary-on-dark, white) !important;
  }
  
  .mdc-theme--text-secondary-on-dark {
    color: rgba(255, 255, 255, 0.7) !important;
    /* @alternate */
    color: var(--mdc-theme-text-secondary-on-dark, rgba(255, 255, 255, 0.7)) !important;
  }
  
  .mdc-theme--text-hint-on-dark {
    color: rgba(255, 255, 255, 0.5) !important;
    /* @alternate */
    color: var(--mdc-theme-text-hint-on-dark, rgba(255, 255, 255, 0.5)) !important;
  }
  
  .mdc-theme--text-disabled-on-dark {
    color: rgba(255, 255, 255, 0.5) !important;
    /* @alternate */
    color: var(--mdc-theme-text-disabled-on-dark, rgba(255, 255, 255, 0.5)) !important;
  }
  
  .mdc-theme--text-icon-on-dark {
    color: rgba(255, 255, 255, 0.5) !important;
    /* @alternate */
    color: var(--mdc-theme-text-icon-on-dark, rgba(255, 255, 255, 0.5)) !important;
  }
  
  .mdc-theme--primary-bg {
    background-color: #6200ee !important;
    /* @alternate */
    background-color: var(--mdc-theme-primary, #6200ee) !important;
  }
  
  .mdc-theme--secondary-bg {
    background-color: #018786 !important;
    /* @alternate */
    background-color: var(--mdc-theme-secondary, #018786) !important;
  }