.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-card {
  height: 80px;
}

.positive.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: $positive;
}

.negative.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: $negative;
}

.image-preview:hover {
  position: fixed;
  transform: scale(3) translateX(-1rem);
  z-index: 10;
  border: 0.2px solid #ddd;
  border-radius: 0.125rem;
}