@if (processAssetsPlugin$ | async; as plugin) {
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Media ({{ plugin.state?.assets?.length }}) </mat-panel-title>
    <mat-panel-description>
      @if (isProcessing(plugin.state?.assets)) {
      <mat-spinner [diameter]="25"></mat-spinner>
      } @else if (hasFailed(plugin.state?.assets)) {
      Errors occured
      } @else if (isSuccess(plugin.state?.assets)) {
      Processed
      }
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-container *ngIf="plugin.state?.assets">

    <div class="clearfix" style="max-height: 100rem; overflow-y: auto;">
      <ng-container *ngFor="let asset of plugin.state.assets">
        <div class="flex items-center mat-elevation-z1 mb1" style="height: 100%;">
          <div id="card-image" class="p1 col-3">
            <ng-container *ngIf="asset.url; else noImage">
              <img class="rounded" [src]="asset.url" height="40" width="40" class="image-preview" />
            </ng-container>

            <ng-template #noImage>
              <span class="x1 small flex-wrap col-2" matTooltip="No preview available">
                <mat-icon>preview_off</mat-icon>
              </span>
            </ng-template>
          </div>

          <div id="card-content" class="flex-column align-baseline flex-auto ml-auto pl1" style="overflow: hidden;">
            <div class="flex align-baseline pb1 pt1">
              <div class="pr1 flex items-center">
                <mat-icon class="negative" *ngIf="asset.status === 'error'">error</mat-icon>
              </div>
              <span class="flex h4 align-baseline flex-auto">{{ asset.key }}</span>
            </div>

            @if (asset.status === 'initial') {
            } @else if (asset.status === 'processing') {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            } @else if (asset.status !== 'success') {
            <mat-progress-bar mode="determinate" value="100"
              [ngClass]="{'negative' : asset.status === 'error', 'positive': asset.status === 'success'}"></mat-progress-bar>
            }
            <div style="display: block;">
              <small *ngIf="asset.status === 'error'" class="h6"
                aria-label="An error occured while processing the image."
                matTooltip="An error occured while processing the image.">
                An error occured while processing the image.</small>
            </div>
          </div>

          <div id="card-actions" class="flex flex-wrap justify-center md-col-3 lg-col-2">
            @if (asset.status === 'error') {
            <button mat-icon-button aria-label="Button to upload an image that acts a placeholder."
              matTooltip="Upload a placeholder image.">
              <mat-icon>file_upload</mat-icon>
            </button>
            <button mat-icon-button aria-label="Button to retry asset processing." matTooltip="Retry asset processing.">
              <mat-icon>refresh</mat-icon>
            </button>
            } @else if (asset.status === 'success') {
            <mat-icon class="positive">check_circle</mat-icon>
            }
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</mat-expansion-panel>
}