@use "@sciflow/tdk/styles/debug" as debug;

$mode: get("mode", "footnote");
$separatorStyle: get("separatorStyle");

@debug "Footnote mode: #{$mode}";

@if $mode == "footnote" {
    body {
        // this will reset footnote in for each article in a collection
        counter-reset: footnote;
    }

    @if isPagedMedia() {
        body {
            p,
            h1,
            h2,
            h3,
            h4,
            h5 {
                -prince-footnote-policy: #{get("policy")};
            }
        }
    }

    @page {
        // footnote area on the page
        @footnote {
            @if isDebug() {
                background: #f8e88b;
                @include debug.annotate("footnotes", "Footnotes");
            }
            padding: 0.5rem 0 0 0; // space between top (border) and footnotes
            margin-top: #{get("margin.top")};
            margin-bottom: #{get("margin.bottom")};
            max-height: 80%;
            white-space: normal;
            @if get("separatorStyle") == "line" {
                border-top: thin solid black;
                @debug "FootnoteConfiguration.seperatorStyle: rendering footnote with line";
            } @else if get("separatorStyle") == "clipped-line" {
                @debug "FootnoteConfiguration.seperatorStyle: rendering footnote with clipped line";
                border-top: thin solid black;
                border-clip: 8em;
            }
        }
    }

    // the call inside the text
    *::footnote-call {
        content: counter(footnote);
        font-size: #{get("call.fontSize")};
        vertical-align: super;
        line-height: none;
        @if isDebug() {
            background: #f8b88b;
        }
    }

    // the marker (number) inside the footnote area
    *::footnote-marker {
        content: counter(footnote) get("marker.suffix");
        @if (get("marker.align") == "super") {
            // we cant align the text if the footnote-style-position is set to render outside
            transform: translateY(-30%); // for footnote-style-position outside (since the marker behaves more like a list marker)
            position: relative;
            vertical-align: super; // for footnote-style-position inside
            @if isDebug() {
                border: 1px dotted black;
            }
        }
        min-width: 1em;
        text-align: left;
        font-size: #{get("marker.fontSize")};
        @if isDebug() {
            background: rgb(254, 214, 141);
        }
    }

    [lang="ar"] {
        *::footnote-call {
            content: counter(footnote, arabic-indic);
        }

        ol:not([list-style-type]) {
            list-style-type: arabic-indic;
        }

        *::footnote-marker {
            content: counter(footnote, arabic-indic) get("marker.suffix");
        }
    }

    [lang="fa-IR"] {
        *::footnote-call {
            content: counter(footnote, persian);
        }

        ol:not([list-style-type]) {
            list-style-type: persian;
        }

        *::footnote-marker {
            content: counter(footnote, persian) get("marker.suffix");
        }
    }

    // This is the individual footnote which is floated to the bottom of the page
    [data-type="footnote"] {
        // overwrite any parent aligns
        @if exists("fontFamily") { font-family: get("fontFamily"); }
        text-align: #{get("textAlign")};
        font-size: #{get("fontWeight")};
        text-indent: initial;
        font-style: initial;
        float: footnote;
        break-inside: #{get("breakInside")};
        font-size: #{get("fontSize")};
        line-height: #{get("lineHeight")};
        margin: #{get("footnote.margin")};
        padding: 0 0 0 #{get("marker.spaceAfter")};
        @if isDebug() {
            border: 1px solid white;
        }
        white-space: normal;

        // we do these settings explicitly since they are hard to understand individually
        @if get("style") == "inside" {
            footnote-style-position: inside;
            footnote-display: block;
            // if footnotes have a margin left in outside style this will move them and the marker inside
        } @else if get("style") == "outside" {
            footnote-style-position: outside;
            footnote-display: block;
        } @else if (get("style") == "compact") {
            footnote-style-position: inside;
            footnote-display: compact;
        }

        text-indent: initial;
        a {
            color: inherit;
        }
        p {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }

    [dir="rtl"] {
        [data-type="footnote"] {
            padding: 0 #{get("marker.spaceAfter")} 0 0;
        }
    }
}

@if $mode == "endnote" {
    [data-type="endnote"] {
        font-size: #{get("fontSize")};
        margin: 0 0 0.35rem 0;
    }
    [data-type="endnote-marker"] {
        margin-right: 0.5rem;
    }
    [data-type="endnote-marker"]::after {
        content: get("marker.suffix");
    }
    [data-type="endnote-body"] {
        margin: 0.025rem 0;
    }
    [data-type="endnote-call"] {
        padding-right: 0.1rem;
        vertical-align: top;
        position: relative;
        top: -0.25rem;
        font-size: #{get("call.fontSize")};
        @if isDebug() {
            background: #f8b88b;
        }
    }

    @if get("endnote.floatNumber") == true {
        @if isDebug() {
            [data-type="endnote"],
            [data-type="endnote-marker"],
            [data-type="endnote-body"] {
                border: thin dotted orange;
            }
        }

        [data-type="endnote"] {
            display: flex;
        }

        [data-type="endnote-marker"] {
            padding-top: 0.125rem;
            min-width: 1.8rem;
            display: inline-block;
        }

        [data-type="endnote-body"] {
            display: inline-block;
            padding-left: 0.25rem;
        }
    }
}
