@use "@sciflow/tdk/styles/debug" as debug;
@use "content_elements" as el;

/** Creates headers and footers inside a provided placement (like .front, .body, .back or body if none of these are used */
@mixin createHeadersAndFooters($placementLabel: "all") {
    $doubleSided: get("page.handling", null, "Page") == "double-sided";
    $breakBeforeChapter: #{get("page.pageBreaks.beforeChapter", null, "Page")};

    $marginInner: #{get("page.margins.inner", null, "Page")};
    $marginOuter: #{get("page.margins.outer", null, "Page")};

    $firstPageName: #{get("typography.firstPage.name")};

    // override the height only for this region based on the headers and footers
    --content-height: calc(
        100pvh - #{get("typography.header.height")} - #{get("typography.footer.height")} - var(--body-padding)
    );
    --content-width: calc(
        100pvw - #{get("page.margins.top", null, "Page")} - #{get("page.margins.bottom", null, "Page")} -
            var(--body-padding)
    );
    --content-height-landscape: calc(100pvw - $marginInner - $marginOuter);

    $pageSelector: "";
    @if $placementLabel != "all" {
        $pageSelector: $placementLabel;
    }

    box-sizing: border-box;
    // handling of the headers and footers elements from our handlebar (hbs templates)
    @include el.styleElements($placementLabel);

    @at-root {
        @if not $doubleSided {
            @page #{$pageSelector} {
                margin-top: #{get("typography.header.height")};
                margin-bottom: #{get("typography.footer.height")};

                margin-left: $marginInner;
                margin-right: $marginOuter;

                @top {
                    margin: 0;
                    padding: 0;
                    content: element(#{$placementLabel}-recto-page-header);
                    vertical-align: bottom;
                }

                @bottom {
                    margin: 0;
                    padding: 0;
                    content: element(#{$placementLabel}-recto-page-footer);
                    vertical-align: top;
                }

                @if isDebug() {
                    @include debug.overlay("#{$placementLabel}( single-sided)");
                    @left {
                        border: 1px dotted black;
                        font-size: 9pt;
                        color: red;
                        content: "left #{$marginInner}";
                    }
                    @right {
                        border: 1px dotted black;
                        font-size: 9pt;
                        color: red;
                        content: "right #{$marginOuter}";
                    }
                }
            }
        }

        @if $doubleSided {
            // only style recto and verso for double sided printing

            @page #{$pageSelector}:recto {
                /* Make room for the content elements */
                margin-top: #{get("typography.header.height")};
                margin-bottom: #{get("typography.footer.height")};

                @if isDebug() {
                    @include debug.overlay("#{$placementLabel}:recto");
                    @left {
                        border: 1px dotted black;
                        font-size: 9pt;
                        color: red;
                        content: "r outer #{$marginInner}";
                    }
                    @right {
                        border: 1px dotted black;
                        font-size: 9pt;
                        color: red;
                        content: "r inner #{$marginOuter}";
                    }
                }

                @top {
                    margin: 0;
                    padding: 0;
                    content: element(#{$placementLabel}-recto-page-header);
                    vertical-align: bottom;
                }

                @bottom {
                    margin: 0;
                    padding: 0;
                    content: element(#{$placementLabel}-recto-page-footer);
                    vertical-align: top;
                }
            }

            @page #{$pageSelector}:verso {
                /* Make room for the content elements */
                margin-top: #{get("typography.header.height")};
                margin-bottom: #{get("typography.footer.height")};

                @if isDebug() {
                    @include debug.overlay("#{$placementLabel}:verso");
                    @right {
                        border: 1px dotted black;
                        font-size: 9pt;
                        color: red;
                        content: "v inner #{$marginInner}";
                    }
                    @left {
                        border: 1px dotted black;
                        font-size: 9pt;
                        color: red;
                        content: "v outer #{$marginOuter}";
                    }
                }

                @if $doubleSided {
                    @debug "Setting up verso headers";
                    @top {
                        margin: 0;
                        padding: 0;
                        content: element(#{$placementLabel}-verso-page-header);
                        vertical-align: bottom;
                    }
                    @bottom {
                        margin: 0;
                        padding: 0;
                        content: element(#{$placementLabel}-verso-page-footer);
                        vertical-align: top;
                    }
                } @else {
                    // for one sided printing use the recto header for verso pages as well
                    @debug "Setting up verso headers to use recto headers";
                    @top {
                        margin: 0;
                        padding: 0;
                        content: element(#{$placementLabel}-recto-page-header);
                        vertical-align: bottom;
                    }
                    @bottom {
                        margin: 0;
                        padding: 0;
                        content: element(#{$placementLabel}-recto-page-footer);
                        vertical-align: top;
                    }
                }
            }
        }

        // first pages occur independently of double and single sided printing
        @page #{$pageSelector}:first {
            /* Make room for the content elements */
            @if $firstPageName != "first" {
                // we do not want first header defaults if a recto or verso page is used
                margin-top: #{get("typography.header.height")};
                margin-bottom: #{get("typography.footer.height")};
            } @else {
                margin-top: #{get("typography.firstPage.header.height")};
                margin-bottom: #{get("typography.firstPage.footer.height")};
            }

            @if isDebug() {
                @include debug.overlay("#{$placementLabel}:first");
            }

            @top {
                @if isDebug() {
                    @include debug.annotate("first-page-header", "First page header (#{$placementLabel})");
                }
                content: element(#{$placementLabel}-#{$firstPageName}-page-header);
                width: 100%;
                padding: 0;
                @if isRunner("princexml") {
                    /* breaks pagedjs */
                    border-top: none;
                }
                margin: 0;
                font-size: #{get("typography.header.fontSize")};
                vertical-align: bottom;
            }

            @bottom {
                @if isDebug() {
                    @include debug.annotate("first-page-footer", "First page footer (#{$placementLabel})");
                }
                content: element(#{$placementLabel}-#{$firstPageName}-page-footer);
                width: 100%;
                padding: 0;
                @if isRunner("princexml") {
                    /* breaks pagedjs */
                    border-top: none;
                }
                margin: 0;
                font-size: #{get("typography.footer.fontSize")};
                vertical-align: top;
            }

            @if isDebug() {
                @include debug.overlay("#{$placementLabel}:first");
            }
        }
        
        /* When double sided printing is turned on and page groups break per page we need a verso and recto header */
        @if $doubleSided and $firstPageName == first and $breakBeforeChapter == page {
            @page #{$pageSelector}:first:recto {
                @if isDebug() {
                    @include debug.overlay("!#{$placementLabel}:first(recto)");
                }
                @top {
                    content: element(#{$placementLabel}-#{$firstPageName}-page-header-recto);
                }
                @bottom {
                    content: element(#{$placementLabel}-#{$firstPageName}-page-footer-recto);
                }
            }

            @page #{$pageSelector}:first:verso {
                @if isDebug() {
                    @include debug.overlay("#{$placementLabel}:first(verso)");
                }
                @top {
                    content: element(#{$placementLabel}-#{$firstPageName}-page-header-verso);
                }
                @bottom {
                    content: element(#{$placementLabel}-#{$firstPageName}-page-footer-verso);
                }
            }
        }

        @page #{$pageSelector}:blank {
            @include debug.overlay("#{$placementLabel}:blank");
            @top {
                border: none !important;
                content: none !important;
            }
            @bottom {
                border: none !important;
                content: none !important;
            }
        }

        /* The pages wide and blank only need to be created once, since we do not 
            ** know whether there will be a placement for body we also 
            ** include it when no page is supplied (placementLabel = all)
        */
        @if ($placementLabel == "body" or $placementLabel == "all") {
            @page wide {
                /* Make room for the content elements */
                prince-rotate-body: #{get("page.widePage.orientation", null, "Page")};
                prince-shrink-to-fit: #{get("page.widePage.shrinkToFit", null, "Page")};
                margin-top: #{get("typography.header.height")};
                margin-bottom: #{get("typography.footer.height")};
                -prince-pdf-page-label: counter(page, #{get("pageCounter.style")});

                @if doubleSided {
                    margin-inside: $marginInner;
                    margin-outside: $marginOuter;
                }
            }

            @if $doubleSided {
                @page wide:recto {
                    @if isDebug() {
                        @include debug.overlay("#{$placementLabel}:wide-recto");
                        @right {
                            border: 1px dotted black;
                            font-size: 9pt;
                            color: red;
                            content: "outer #{$marginOuter}";
                        }
                        @left {
                            border: 1px dotted black;
                            font-size: 9pt;
                            color: red;
                            content: "inner #{$marginInner}";
                        }
                    }

                    @top {
                        margin: 0;
                        padding: 0;
                        content: element(#{$placementLabel}-recto-page-header);
                        --page-side: "recto";
                        vertical-align: bottom;
                    }

                    @bottom {
                        margin: 0;
                        padding: 0;
                        content: element(#{$placementLabel}-recto-page-footer);
                        vertical-align: top;
                    }
                }
                @page wide:verso {
                    @if isDebug() {
                        @include debug.overlay("#{$placementLabel}:wide-verso");
                        @right {
                            border: 1px dotted black;
                            font-size: 9pt;
                            color: red;
                            content: "w inner #{$marginInner}";
                        }
                        @left {
                            border: 1px dotted black;
                            font-size: 9pt;
                            color: red;
                            content: "w outer #{$marginOuter}";
                        }
                    }

                    @top {
                        margin: 0;
                        padding: 0;
                        --page-side: "verso";
                        content: element(#{$placementLabel}-verso-page-header);
                        vertical-align: bottom;
                    }

                    @bottom {
                        margin: 0;
                        padding: 0;
                        content: element(#{$placementLabel}-verso-page-footer);
                        vertical-align: top;
                    }
                }
            }
        }
    }
}
