@use "@sciflow/tdk/styles/debug" as debug;

@mixin styleElements($placementLabel) {
    .first-page-header {
        @if isDebug() {
            border: 1px dotted #555;
            @include debug.annotate("first-page-header", "First page header (#{$placementLabel})");
        }
        margin: 0;
        font-size: #{get("typography.header.fontSize")};
        position: running(#{$placementLabel}-first-page-header);
        /* setting the same height as the margin */
        height: #{get("typography.firstPage.header.height")};
        /* making sure the element will not grow even if a padding is added */
        box-sizing: border-box;
    }
    .first-page-header-recto {
        position: running(#{$placementLabel}-first-page-header-recto);
    }
    .first-page-header-verso {
        position: running(#{$placementLabel}-first-page-header-verso);
    }

    .first-page-footer {
        @if isDebug() {
            border: 1px dotted #555;
            @include debug.annotate(
                "first-page-footer",
                "First page footer (#{$placementLabel}) height: #{get("typography.firstPage.footer.height")}"
            );
        }
        margin: 0;
        font-size: #{get("typography.footer.fontSize")};
        position: running(#{$placementLabel}-first-page-footer);
        /* setting the same height as the margin */
        height: #{get("typography.firstPage.footer.height")};
        /* making sure the element will not grow even if a padding is added */
        box-sizing: border-box;
    }
    .first-page-footer-recto {
        position: running(#{$placementLabel}-first-page-footer-recto);
    }
    .first-page-footer-verso {
        position: running(#{$placementLabel}-first-page-footer-verso);
    }

    .recto-page-header {
        @if isDebug() {
            border: 1px dotted #555;
            @include debug.annotate(
                "recto-page-header",
                "Recto page header (#{$placementLabel}) height: #{get("typography.header.height")}"
            );
        }
        margin: 0;
        font-size: #{get("typography.header.fontSize")};
        position: running(#{$placementLabel}-recto-page-header);
        /* setting the same height as the margin */
        height: #{get("typography.header.height")};
        /* making sure the element will not grow even if a padding is added */
        box-sizing: border-box;
    }

    .recto-page-footer {
        @if isDebug() {
            border: 1px dotted #555;
            @include debug.annotate(
                "recto-page-footer",
                "Recto page footer (#{$placementLabel}) height: #{get("typography.footer.height")}"
            );
        }
        margin: 0;
        font-size: #{get("typography.footer.fontSize")};
        position: running(#{$placementLabel}-recto-page-footer);
        /* setting the same height as the margin */
        height: #{get("typography.footer.height")};
        /* making sure the element will not grow even if a padding is added */
        box-sizing: border-box;
    }

    .verso-page-header {
        @if isDebug() {
            border: 1px dotted #555;
            @include debug.annotate("verso-page-header", "Verso page header (#{$placementLabel})");
        }
        margin: 0;
        font-size: #{get("typography.header.fontSize")};
        position: running(#{$placementLabel}-verso-page-header);
        /* setting the same height as the margin */
        height: #{get("typography.header.height")};
        /* making sure the element will not grow even if a padding is added */
        box-sizing: border-box;
    }

    .verso-page-footer {
        @if isDebug() {
            border: 1px dotted #555;
            @include debug.annotate("verso-page-footer", "Verso page footer (#{$placementLabel})");
        }
        margin: 0;
        font-size: #{get("typography.footer.fontSize")};
        position: running(#{$placementLabel}-verso-page-footer);
        /* setting the same height as the margin */
        height: #{get("typography.footer.height")};
        /* making sure the element will not grow even if a padding is added */
        box-sizing: border-box;
    }
}