<style>
    @page {
        :first {
            @top {
                border: none !important;
                content: none !important;
            }

            @bottom {
                border: none !important;
                content: none !important;
            }
        }
    }
    .front {
        counter-reset: page 1;
    }
</style>

{{#switch getPage}}
{{#case 'cover'}}
<div class="HeadersAndFooters">
    <div class="recto-page-footer flex justify-around col-12 pb2 pt1">
    </div>
    <div class="verso-page-footer flex justify-around col-12 pb2">
    </div>
</div>
{{/case}}
{{#case 'front'}}
<div class="HeadersAndFooters">
    <div class="recto-page-footer flex justify-around col-12 pb2 pt1">
        <div>
            <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
        </div>
    </div>
    <div class="verso-page-footer flex justify-around col-12 pb2">
        <div>
            <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
        </div>
    </div>
</div>
{{/case}}
{{#default}}
<div class="HeadersAndFooters">
    {{!-- The first page header --}}
    <div class="first-page-header flex justify-between col-12"></div>
    {{!-- The footer on the first page --}}
    <div class="first-page-footer flex justify-between col-12 pb2 pt1"></div>

    {{!-- The header on recto pages (for LTR this means right pages) --}}
    <div class="recto-page-header flex justify-between col-12 pt3">
        <div></div>
        <div class="flex flex-column justify-end">
            <span class="" style="content: string(sub-heading-text, first-except);"></span>
        </div>
    </div>

    {{!-- The footer on recto pages --}}
    <div class="recto-page-footer flex justify-between col-12 pb2 pt1">
        <div></div>
        <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
    </div>

    {{!-- The header on verso pages (for LTR this means left) --}}
    <div class="verso-page-header flex justify-between col-12">
        <div class="flex flex-column justify-end">
            <span style="content: string(main-heading-text, first-except);"></span>
        </div>
        <div></div>
    </div>

    {{!-- The footer on verso pages --}}
    <div class="verso-page-footer flex justify-between col-12 pb2">
        <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
        <div></div>
    </div>
</div>
{{/default}}
{{/switch}}