{{#equals getPage 'front'}}
<div class="HeadersAndFooters">
    <div class="recto-page-footer flex justify-around col-12 pb2 pt1">
        <div>
            <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
        </div>
    </div>
    <div class="verso-page-footer flex justify-around col-12 pb2">
        <div>
            <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
        </div>
    </div>
</div>
{{else}}
<div class="HeadersAndFooters">
    {{!-- The first page header --}}
    <div class="first-page-header flex justify-between col-12 pt2">
        {{!-- Get any image defined as logo and provide the journal name as an alt text --}}
        {{{image 'logo' (getMetaData 'journal-meta.title')}}}
        <div class="meta-data">
            {{#if (getMetaData 'article-meta.articleType')}}
            <div>
                <span class="caps pr1">type</span><span>{{getMetaData 'article-meta.articleType'}}</span>
            </div>
            {{/if}}
            {{#if (getMetaData 'article-meta.history.epubDate')}}
            <div>
                <span class="caps pr1">published</span><span>{{formatDate (getMetaData 'article-meta.history.epubDate')}}</span>
            </div>
            {{/if}}
            {{#if (getMetaData 'article-meta.issue')}}
            <div>
                <span class="caps pr1">type</span><span>{{getMetaData 'article-meta.issue'}}</span>
            </div>
            {{/if}}
            {{#if (getMetaData 'article-meta.identifiers.doi')}}
            <div>
                <span class="caps pr1">DOI</span><span>{{getMetaData 'article-meta.identifiers.doi'}}</span>
            </div>
            {{/if}}
        </div>
    </div>

    {{!-- The footer on the first page --}}
    <div class="first-page-footer flex justify-between col-12 pb2 pt1">
        <div>
            <div>{{getYear (getMetaData 'article-meta.history.epubDate')}} | {{getMetaData 'journal-meta.publisherName'}}</div>
            <div>{{getMetaData 'journal-meta.title'}}{{#if (getMetaData 'journal-meta.issn')}} | ISSN: {{getMetaData 'journal-meta.issn'}}<del>issn</del>{{^}}{{/if}}</div>
            <div>
                {{#if (getMetaData 'article-meta.issue')}}Issue: {{getMetaData 'article-meta.issue'}}{{^}}{{/if}}
                {{#if (getMetaData 'article-meta.volume')}} | Vol. {{getMetaData 'article-meta.volume'}}{{^}}{{/if}}
                {{#if (getMetaData 'article-meta.identifiers.doi')}} | DOI: {{getMetaData 'article-meta.identifiers.doi'}}{{^}}{{/if}}
            </div>
        </div>
        <div >
        {{{image 'license-image' ''}}}
        </div>
    </div>

    {{!-- The header on recto pages (for LTR this means right pages) --}}
    <div class="recto-page-header flex justify-between col-12 pt3">
        <span class="author-names">{{{renderAuthorNames}}}</span>
        <span></span>
    </div>

    {{!-- The footer on recto pages --}}
    <div class="recto-page-footer flex justify-between col-12 pb2 pt1">
        <div>
            {{#if (getMetaData 'article-meta.issue')}}Issue: {{getMetaData 'article-meta.issue'}}{{^}}{{/if}}
            {{#if (getMetaData 'article-meta.volume')}} | Vol. {{getMetaData 'article-meta.volume'}}{{^}}{{/if}}
            {{#if (getMetaData 'article-meta.identifiers.doi')}} | DOI: {{getMetaData 'article-meta.identifiers.doi'}}{{^}}{{/if}}
        </div>
        <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
    </div>

    {{!-- The header on verso pages (for LTR this means left) --}}
    <div class="verso-page-header flex justify-between col-12 pt2">
        <span class="alt-title">{{getMetaData 'article-meta.altTitle'}}</span>
        <span></span>
    </div>

    {{!-- The footer on verso pages --}}
    <div class="verso-page-footer flex justify-between col-12 pb2">
        <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
        <div>
            {{getMetaData 'journal-meta.title'}}
            {{#if (getMetaData 'article-meta.issn')}} | ISSN. {{getMetaData 'article-meta.issn'}}{{^}}{{/if}}
            {{#if (getMetaData 'article-meta.volume')}} | Vol. {{getMetaData 'article-meta.volume'}}{{^}}{{/if}}
        </div>
    </div>
</div>
{{/equals}}