@use "@sciflow/tdk/styles/debug" as debug;
// The headers and footers component can be used once for the entire document or for each placement
// For this reason we need to prefix and wrap into  the .body,.front, ... clases and page names

@use "content" as content;

@mixin pageProperties($doubleSided, $marginInner, $marginOuter) {
    @if $doubleSided {
        margin-inside: $marginInner;
        margin-outside: $marginOuter;
    } @else {
        margin-left: $marginInner;
        margin-right: $marginOuter;
    }

    margin-top: #{get("page.margins.top", null, "Page")};
    margin-bottom: #{get("page.margins.bottom", null, "Page")};
    -prince-pdf-page-label: counter(page, #{get("pageCounter.style")});
}

@if isPagedMedia() {
    $page: getPage();
    $doubleSided: get("page.handling", null, "Page") == "double-sided";
    $marginInner: #{get("page.margins.inner", null, "Page")};
    $marginOuter: #{get("page.margins.outer", null, "Page")};

    @if exists("overridePlacement") {
        @debug "HeadersAndFooters: Activating overrides for headers: #{get("overridePlacement")}";
        $page: get("overridePlacement");
    }

    @debug "HeadersAndFooters: Putting headers and footers on page: #{$page}";

    .HeadersAndFooters {
        string-set: author-names "";

        .meta-data {
            font-size: #{get("typography.header.fontSize")};
        }

        .logo {
            font-size: #{get("typography.header.fontSize")};
        }
    }

    @if ($page and $page != "all") {
        // if we have a specific page set individual properties for it
        @page #{$page} {
            @include pageProperties($doubleSided, $marginInner, $marginOuter);
        }

        @if exists("pageCounter.reset") {
            @if (get("pageCounter.reset") == before-and-after or get("pageCounter.reset") == before) {
                .#{$page} {
                    counter-reset: page 1;
                }
            }

            @if (get("pageCounter.reset") == before-and-after or get("pageCounter.reset") == after) {
                .#{$page} + section {
                    // we reset the counter in the next following section
                    counter-reset: page 1;
                }
            }
        }

        .#{$page} {
            @include content.createHeadersAndFooters($page);
        }
    } @else {
        // there is no specific page, write to the body and all pages directly
        @page {
            @include pageProperties($doubleSided, $marginInner, $marginOuter);
        }

        body {
            @include content.createHeadersAndFooters();
        }
    }
}

.HeadersAndFooters {
    img {
        // resetting max width since prince will otherwise collapse images inside of a tags
        max-width: initial;
    }
}
