doctype html
html
    head
        title Error
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #f8f9fa;
                color: #343a40;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            .container {
                max-width: 60rem;
                text-align: center;
                padding: 2rem;
                background: white;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
                color: #d9534f; /* Red for error emphasis */
            }
            h2 {
                font-size: 1.25rem;
                margin-bottom: 2rem;
            }
            pre {
                text-align: left;
                background-color: #f1f1f1;
                padding: 1rem;
                border-radius: 4px;
                overflow-x: auto;
                font-size: 0.9rem;
            }
    body
        .container
            h1 An Error Occurred
            h2!= message
            if stack
                pre!= stack