:host {
  display: flex;
  flex-direction: column;
}

:host.floating span {
  opacity: 1;
}

:host ::ng-deep .ProseMirror {
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  & p {
    margin: 0.125rem 0 !important;
  }
}

:host ::ng-deep .ProseMirror[data-placeholder]:not(.ProseMirror-focused):before {
  content: attr(data-placeholder);
}

// do not show a placeholder if the element is labeled
:host ::ng-deep .ProseMirror[data-has-label='true']:not(.ProseMirror-focused):before {
  content: ' '; // keep the spacing
}

:host ::ng-deep .ProseMirror[data-placeholder]:not(.ProseMirror-focused) {
  p {
    /* We set this to 0 so the placeholder does not jump */
    height: 0;
  }
}

.editor {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
}

span {
  opacity: 0;
  transition: opacity 200ms;
}
