.body {
    column-count: 2;
    column-gap: 2rem;

    // overwrite other settings to allow for columns
    .figure-wrapper[data-environment="image"] {
        -prince-float-reference: column;
        -prince-float-placement: bottom;
        -prince-float-defer-page: none;
        -prince-float-modifier: normal;
        -prince-float-policy: normal;
    }

    .figure-wrapper {
        column-span: all;
        margin: 1rem auto;
        figure {
            margin: 0 auto;
        }

        -prince-margin-alt: 0.25rem;
    }

    .figure-wrapper[data-scale-width="0.25"],
    .figure-wrapper[data-scale-width="0.5"] {
        width: calc(100% - 1rem);
        column-span: none;
        .figure-body {
            img {
                width: 100%;
            }
        }
    }

    .figure-wrapper[data-scale-width="0.75"],
    .figure-wrapper[data-scale-width="0.9"] {
        column-span: all;
    }

    .figure-wrapper[orientation="landscape"] {
        column-span: all;
        -prince-float-placement: none;
    }
}
