<div class="Coverpage" text-direction="ltr" class="flex flex-column justify-between">
    <style>
        .Coverpage {
            width: 100vw;
            padding: 0.25cm 2cm;
            box-sizing: border-box;
            height: calc(var(--content-height) - 2em);
        }

        .Coverpage h1 {
            font-size: 20pt;
            line-height: 22pt;
        }

        .Coverpage h2 {
            font-size: 16pt;
            line-height: 16pt;
        }

        .Coverpage .author-names {}
    </style>
    <div data-type="spacer"></div>
    <div>
        <h1 class="left-align">{{getDocumentValue 'title'}}</h1>
        {{#if (getDocumentValue 'subtitle')}}
        <h2 class="left-align">{{getDocumentValue 'subtitle' }}</h2>
        {{^}}{{/if}}
        {{#if (exists 'BookMeta.bookTitleGroup.altTitle')}}
        <div>
            <i>{{{get 'BookMeta.bookTitleGroup.altTitle' }}}</i>
        </div>{{^}}{{/if}}
        <div class="pt2">
            <span class="author-names">
                {{#each (getDocumentValue 'authors')}}
                <span class="author">{{renderAuthorName this}}</span>
                {{/each}}
            </span>
        </div>
    </div>
    <span data-type="spacer"></span>
    <div class="pt2 flex flex-row justify-around">
        <p>{{get 'BookMeta.publisherLocation'}} {{getYear (get 'BookMeta.history.epubDate')}}</p>
    </div>
    <div>
        <div class="footer flex flex-row justify-around">
            <div>{{get 'BookMeta.publisherName'}}</div>
        </div>
    </div>
</div>