<ng-container *ngIf="actions$ | async; let actions">
  
  <sfo-admonition class="col-12" [title]="current?.title" type="tip" expanded [hideToggle]="true">
    <p>{{current?.description}}</p>
    <div class="col-12 flex justify-end">
      <button [disabled]="!canGoNext(actions)" color="primary" mat-flat-button aria-label="Next step" *ngIf="next"
        (click)="goNext()" matTooltip="Proceed to {{next.title}}">
        Next
      </button>
    </div>
</sfo-admonition>

  <div class="flex flex-column preview" *ngIf="activeStep$ | async; let activeStep">
    <mat-accordion>
      @if (pluginStatus$ | async; as pluginStatus) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Summary</mat-panel-title>
          <mat-panel-description>
            {{pluginStatus.length}} plugins active
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>We automatically check your document at each step. Below is a summary of the completed actions.</p>
        <div class="flex flex-wrap my1">
          <div class="progress-gauge flex flex-column center justify-between col-4 my1"
            *ngFor="let plugin of pluginStatus" matTooltip="{{plugin.description}}">
            <mat-progress-spinner diameter="48" class="mx-auto" mode="determinate" [color]="plugin.gauge.color"
              [value]="plugin.gauge.percent"></mat-progress-spinner>
            <span class="value">{{plugin.gauge.percent}}</span>
            <div class="col-12 center pt1">
              <small>
                {{plugin.name}}
              </small>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      }

      <app-preview-assets></app-preview-assets>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngIf="data$ | async; let manuscript;">
          <mat-card-content>
            <div *ngIf="manuscript.authors" class="my1">
              <details>
                <summary><b>Authors</b> {{manuscript.authors.length}}</summary>
                <div *ngFor="let author of manuscript.authors">
                  <pre class="p1 small">{{ manuscript.authors | yaml }}</pre>
                </div>
              </details>
            </div>
            <div *ngIf="manuscript.references" class="my1">
              <details>
                <summary><b>References</b> {{manuscript.references.length}}</summary>
                <div *ngFor="let reference of manuscript.references">
                  <pre class="p1 small">{{ reference | yaml }}></pre>
                </div>

              </details>
            </div>
            <div *ngIf="manuscript.metaData" class="my1">
              <p><b>Meta data</b></p>
              <pre class="p1 small">{{ manuscript.metaData | yaml }}</pre>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>