.preview {
  height: calc(100vh - 11rem);
  margin-bottom: 3rem;
  overflow-y: auto;
}

table::before {
  content: "";
}

.progress-gauge {
  position: relative;
  width: 9rem;
  .value {
    background: transparent;
    position: absolute;
    width: 4rem;
    text-align: center;
    top: 0.95rem;
    left: 2.55rem;
    font-weight: bold;
  }
}
