<!DOCTYPE html>
<html lang='{{ .Page.Language | default "en" }}'>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main role="main" class="main-container px2">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
