.dca-menu .mat-mdc-icon-button {
    color: rgba(var(--foreground-button), 1);
    border-radius: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    .mat-mdc-button-persistent-ripple {
        border-radius: 0;
    }
    mat-icon {
        transform: scale(1.5);
    }

    &:first-child {
        mat-icon {
            transform: scale(1.2);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .dca-menu .mat-mdc-icon-button mat-icon {
        filter: brightness(100);
    }
}

.space-between {
    flex: 1 1 auto;
}
