[text-align="null"] {
    text-align: start;
}

[text-align="left"], [text-align="start"] {
    text-align: start;
}

[text-align="center"] {
    text-align: center;
}

[text-align="right"], [text-align="end"] {
    text-align: end;
}

[text-align="justify"] {
    text-align: justify;
}

[text-direction="null"] {
    direction: ltr;
}

[text-direction="ltr"] {
    direction: ltr;
}

[text-direction="rtl"] {
    direction: rtl;
}

[lang="fa-IR"], [lang="ar"] {
    direction: rtl;
}
