// This is the base of all further HTML and Paged Media Exports

@import 'bass';
@import 'attributes';
@import 'debug';

@function keyExists($array, $string) {
  @debug "#{array} #{string} ?";
  @return index($array, $string) != null;
}

html,
body {
  margin: 0;
  line-height: 1.5;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

@page wide {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto;
}

a, a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

li p {
  text-indent: none;
}

.spacer {
  flex: 1 1 auto;
}

del {
  color: red;
}

ins {
  color: green;
}
