@mixin overlay($text) {
    @if isDebug() {
        @prince-overlay {
            color: red;
            font-weight: bold;
            font-size: 1.125rem;
            content: "#{$text}";
        }
    }
}

@mixin annotate($title, $text) {
    @if isDebug() {
        -prince-pdf-annotation-type: text;
        -prince-pdf-annotation-title: "#{$title}";
        -prince-pdf-annotation-contents: "#{$text}";
        -prince-pdf-annotation-position: left 1rem top 0.25rem;
    }
}
