@mixin pagedjs {
  h1, h2, h3, h4, h5 {
    display: flex;
  }
  .pagedjs_pages {
    .TableOfContents #table-of-contents {
      li {
        overflow-x: hidden;
        a {
          .toc-title {
            white-space: break-spaces;
            background: white;
            padding-right: 6px;
          }
          .toc-title:after {
            //FIXME use leader afrom config and repeat
            content: ".................................................................................................................................................";
            float: left;
            width: 0;
            letter-spacing: 2px;
          }
          &:after {
            position: absolute;
            right: 0;
            background-color: white;
            padding-left: 6px;
            content: target-counter(attr(href), page);
          }
        }
      }
    }
  }
}
