.CollectionTableOfContents {
    @if get("individualPage", "", "Listings") == "each-listing" {
        // put the toc on a new page
        break-before: page;
    }

    @if get("individualPage", "", "Listings") == "each-listing-recto" {
        // put the toc on a right
        break-before: recto;
    }

    @if get("individualPage", "", "Listings") == "listings" {
        // put the toc on a new page (without the other listings which will all be on one page)
        break-before: page;
    }

    // we don't want the caption to go too close to the numbering
    // (or even go below it) so we move it out of the way
    $marginForNumbering: 2rem;
    padding-right: $marginForNumbering;

    .toc-entry {
        break-inside: avoid;
        -prince-pdf-tag-type: TOCI;

        a {
            display: block;
            position: relative;
            text-align: left;
            hyphens: #{get("hyphenation")};

            /* repositioning chapter counter */
            span.label {
                position: absolute;
                top: 0;
                left: 0;
            }

            &:after {
                margin: 0;
                padding: 0;
                position: absolute;
                margin-right: -$marginForNumbering;
                margin-left: 0.5rem;
                font-weight: lighter;
                content: leader("#{get('leader')}") target-counter(attr(href), page, attr(data-counter-style, decimal));
            }

            .toc-title {
                border: 2px solid green;
                hyphens: manual;
                text-align: left;
                break-inside: avoid;
                margin-right: $marginForNumbering;
            }

            .author-names {
                @if get('authorNames.upperCase') {
                    text-transform: uppercase;
                }
            }

            .author:not(:first-of-type):before {
                content: ", ";
            }
            .author:last-of-type:not(:only-of-type):before {
                content: " & ";
            }
        }
    }
}
