.sf-part-wrapper {
  position: absolute;
  left: -5rem;
  border-radius: 0.25rem;
}

button {
  padding: 0 1rem;
  width: 6rem;
  border-radius: 0.25rem;
  border: 1px solid black;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-mdc-button,
.mat-mdc-outlined-button {
  color: rgba(var(--grey-default), 1);
  &:hover {
    color: rgba(var(--background-hover), 1);
  }
}
