$inner-drawer-width: calc(var(--dca-width) - 10rem);

mat-drawer-container {
  width: 100%;
  mat-drawer {
    width: 5rem;
    @media (min-width: 52em) {
      width: 15rem;
    }
  }
}

// Center icons when drawer is collapsed
@media (max-width: 52em) {
  mat-list-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }

  mat-icon {
    margin: 0;
    padding: 0;
  }

  mat-list-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    ::ng-deep {
      .mdc-list-item__content {
        display: none;
      }
    }
  }
}

.is-active {
  background-color: red;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.search-input {
  width: 100%;
  max-width: 15rem;
}

mat-form-field {
  width: 100%;
}

button[mat-icon-button] {
  margin-left: 0.5rem;
}

.gap {
  flex: 1;
}

.scroll-on-hover {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
