
mat-icon.large {
    color: #b0b0b0;
    font-size: 10rem;
    width: auto
}

a:link {
    text-decoration: none;
    color: black;
}

.full-height {
    height: 100%;
}

.previous {
    position: absolute;
    bottom: 0;
}

.project-list {
    max-height: calc(100vh - 8.5rem);
    overflow-y: auto;
}