/**
Warning: These styles are global.
*/

@import "../../../../../../node_modules/prosemirror-view/style/prosemirror.css";
@import "../../../../reference-app/src/scss/basscss_vars";

:fullscreen {
    background: rgba(var(--background-card), 1);
    color: rgba(var(--foreground-text), 1);

    .ProseMirror {
        margin: 0 10%;
        font-size: 1.25rem;
    }
}

.editor-toolbar {
    .toolbar {
        height: unset;
    }
}

.ProseMirror-SciFlow-style {
    padding: 1rem;
}

.disable-event {
    pointer-events: none;
}

.editor-wrapper {
    // these are the margins we can render elements into (see overlay below)
    max-width: 100%;
}

.editor-overlay {
    //position: sticky;
    height: 1px;
    // this will cause overlays always to be rendered
    // irrespective of the current scroll position
    //top: 0;
    z-index: 2;
}

.editor-toolbar {
    button {
        color: rgba(var(--foreground-button), 1);
    }

    button:disabled {
        color: rgba(var(--foreground-button-disabled), 1);
    }
}

pm-node-menu {
    position: absolute;
    transform: translate(-2rem, 0.5rem);
}

sfo-selection-actions {
    display: none;
}

@media #{$breakpoint-lg} {
    sfo-selection-actions {
        display: block;
    }
}

// This should be for the bottom sheet only
.editor-bottom-sheet-wrapper {
    position: sticky;
    bottom: 0;
    max-height: 60vh;
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    // prevents scroll move when adding bottom sheet
    // overflow: hidden;
    // padding: 30px 40px 0 40px;
    // margin-top: -30px;
    // pointer-events: none;
}

.editor-bottom-sheet {
    display: block;
    overflow: hidden;
    background-color: rgba(var(--background-background), 1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow:
        0 8px 10px -5px rgba(var(--foreground-elevation), 0.2),
        0 16px 24px 2px rgba(var(--foreground-elevation), 0.14),
        0 6px 30px 5px rgba(var(--foreground-elevation), 0.12);
    position: relative;
    bottom: 0;
    animation: slideBottom 0.3s ease-out;
}

@keyframes slideBottom {
    from {
        bottom: -25vh;
    }
}

:host {
    width: 100%;
}

.ProseMirror {
    font-family: "Noto Sans", "Noto Sans Arabic", "Noto Color Emoji", sans-serif;
    background: var(--background-background);
    line-height: 1.65;
    font-size: 1rem;
    font-weight: 300;
    outline: none;

    pre {
        font-family: "Noto Sans Mono", monospace;
    }

    // min-height: 12rem;
    min-width: 20rem;
    max-width: 75rem;

    // the editor depends on this to be set to pre-wrap
    white-space: pre-wrap;

    counter-reset: h1;
    counter-reset: footnote;

    .js-search-highlight {
        background: rgba(var(--primary-color-A700), 1);
    }

    @for $index from 1 through 6 {
        h#{$index}:before {
            color: rgba(var(--foreground-text), 0.5);
            text-align: right;
            opacity: 0.6;
            min-width: 4rem;
            position: absolute;
            font-weight: 500;
            font-size: 0.9rem;
            transform: translateX(-6.5rem);
        }
    }

    header {
        margin: 2rem 0 4rem 0;
        padding: 2rem 1rem 2rem 1rem;
        box-shadow: rgba(var(--primary-color-A700), 0.06) 0px 0px 0px 1px;
        border-radius: 0.5rem;
        text-align: left;

        h1 {
            margin: 0;
            font-size: 2rem;
            text-align: center;
        }

        h1:before {
            content: "Title";
        }

        h2 {
            text-align: center;
            margin: 0;
        }

        h2:before {
            content: "Subtitle";
        }
    }

    h1:before {
        font-size: 0.8rem;
        position: absolute;
        text-align: start;
        color: #555;
        content: attr(data-type) " h" attr(data-level integer);
    }

    h1[data-level]:before {
        font-size: 0.8rem;
        position: absolute;
        text-align: start;
        color: #555;
        content: attr(data-type string "test");
    }

    /* p:before {
         color: rgba(var(--primary-color-300), 1);
         text-align: right;
         min-width: 4.4rem;
         position: absolute;
         font-size: 1rem;
         padding-right: 1rem;
         font-family: "Material Icons";
         content: "short_text";
         transform: translateX(-5rem);
    } */

    th > p:before,
    td > p:before,
    li > p:before {
        content: "";
    }

    h1 {
        font-size: 1.4rem;
        font-weight: 600;
        counter-increment: h1;
        margin-top: 2.5rem;
    }

    [id]:target {
        border-left: 1.25rem solid rgba(var(--primary-color-300), 1);
        padding-left: 1rem;
    }

    figure:target {
        border-left: 1.25rem solid rgba(var(--primary-color-300), 1);
        padding-left: 1rem;
    }

    [data-type="footnote"] {
        counter-increment: footnote;
        margin-left: 0.2rem;
        border-radius: 0.25rem;
        border: 1px solid rgba(var(--primary-color-300), 0.6);
    }

    [data-type="footnote"]:before {
        background: rgba(var(--primary-color-300), 0.6);
        content: "fn" counter(footnote);
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 400;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 1.1rem;
    }

    pre {
        display: block;
        margin: 2rem auto;
        border-top: 1px dotted rgba(var(--primary-color-300), 1);
        border-bottom: 1px dotted rgba(var(--primary-color-300), 1);
        padding: 1rem 0;
    }

    math {
        background: rgba(var(--primary-color-300), 1);
        font-style: italic;
    }

    cite {
        cursor: grab;
        border-radius: 0.25rem;
        border: 1px solid rgba(var(--primary-color-300), 0.6);
    }

    cite.js-citation-active {
        background: rgba(var(--primary-color-300), 0.6);
    }


    %base-image-overlay {
        position: absolute;
        bottom: 8px;
        right: 0;
        color: white;
        padding: 4px 4px;
        font-size: 12px;
        pointer-events: none;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.75);
    }

    // determine overlay base on <p> structure
    $static-state: ':has(> br.ProseMirror-trailingBreak)::after'; // add overlay for block
    $hover-state: ':not(:has(> br.ProseMirror-trailingBreak)):hover::after'; // add overlay on hover for inline

    p {
        position: relative;

        img[src]:not([alt]):not([role='presentation']),
        img[src][alt='']:not([role='presentation']) {
            border: thin dashed red;
        }
    }

    p:has(> img[src]) {
        display: inline-block;
    }

    // set the base properties for both inline and block images
    p {
        &:has(> img[src])#{$static-state},
        &:has(> img[src]:not([alt]))#{$static-state},
        &:has(> img[src][alt=''])#{$static-state},
        &:has(> img[src][role='presentation'])#{$static-state},
        &:has(> img[src])#{$hover-state},
        &:has(> img[src]:not([alt]))#{$hover-state},
        &:has(> img[src][alt=''])#{$hover-state},
        &:has(> img[src][role='presentation'])#{$hover-state} {
            @extend %base-image-overlay;
        }
    }

    p:has(> img[src][alt]:not([alt=''])) {
        &#{$static-state},
        &#{$hover-state} {
            content: 'Alt-Text';
        }
    }

    p:has(> img[src][role='presentation'][alt='']) {
        &#{$static-state},
        &#{$hover-state} {
            content: '(Decorative)';
        }
    }

    p {
        &:has(> img[src]:not([alt]):not([role='presentation']))#{$static-state},
        &:has(> img[src]:not([alt]):not([role='presentation']))#{$hover-state},
        &:has(> img[src][alt='']:not([role='presentation']))#{$static-state},
        &:has(> img[src][alt='']:not([role='presentation']))#{$hover-state} {
            content: 'No Alt Text available';
            background-color: red;
            color: black;
        }
    }   
}

.fullMode#editorScrollable {
    // width: 100%;
    // height: calc(100vh - 128px);
    // overflow-y: auto;
    // overflow-x: none;
}

.fullMode {
    .ProseMirror {
        // font-size: 1.125rem;
        // padding: 2rem 8rem 1.5rem 8rem;
    }
}

.border-outer {
    border: 2px solid;
    border-radius: 5px;
    background: rgba(var(--background-card), 1);
    color: rgba(var(--foreground-text), 1);
}

.mat-menu-panel {
    min-height: 0px !important;
}

.mat-menu-content:not(:empty) {
    padding: 0px !important;
}

p[text-align="null"] {
    text-align: start;
}

p[text-align="left"] {
    text-align: start;
}

p[text-align="center"] {
    text-align: center;
}

p[text-align="right"] {
    text-align: end;
}

p[text-align="justify"] {
    text-align: justify;
}

.figure-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    position: relative;
    border: 1px solid transparent;
    box-shadow:
        rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

    figcaption {
        margin: 2rem auto 1rem auto;
        font-size: 0.875rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        width: 90%;
        border: 1px solid solid rgba(var(--primary-color-300), 1);
        position: relative;

        &:before {
            color: rgba(var(--primary-color-300), 1);
            content: "Figure caption";
            font-family: inherit;
            position: absolute;
            top: -0.875rem;
            left: 50%;
            transform: translateX(-50%);
        }

        p {
            background-color: rgba(var(--grey-dimmed), 0.3);
            padding: 0.3rem;
            margin-bottom: 0;

            &:first-child {
                margin-bottom: 2rem;
            }
        }

        p::before {
            content: "";
        }

        p:nth-of-type(2) {
            position: relative;
            background-color: rgba(var(--grey-dimmed), 0.3);
            padding: 0.3rem;

            &::before {
                color: rgba(var(--primary-color-300), 1);
                content: "Notes";
                font-family: inherit;
                position: absolute;
                font-size: 0.875rem;
                top: -1.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        p:nth-of-type(1).ProseMirror-selectednode::before {
            content: "";
            font-family: inherit;
        }
    }

    &[data-type="figure"],
    &[data-type="native-table"],
    &[data-type="table"] {
        border: 2px solid rgba(var(--background-card), 1);

        &.selected {
            border: 2px solid rgba(var(--primary-color-300), 1);
        }
    }

    &[data-type="figure"] {
        // max-height: 12rem;
        // max-width: 36rem;
        margin: 1rem auto;

        .images {
            display: flex;
            justify-content: center;

            img {
                max-width: 25rem;
                max-height: 25rem;
            }
        }

        figcaption {
            &:before {
                content: "Figure caption";
            }
        }
    }

    // Maybe we should normalize figcaptions for all data types to avoid code repetition
    &[data-type="table"],
    &[data-type="native-table"] {
        figcaption {
            &:before {
                content: "Table title";
            }
        }

        table {
            color: var(--background-background);
            border: 1px solid #034b7d;
            margin: 1px auto;
            padding: 1px;
            font-size: 0.75rem;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            overflow: hidden;
        }

        th,
        td {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-clip: padding-box; // fixes issues in Firefox with disappearing borders
            border-left: 1px solid #148dc6;
            border-right: 1px solid #148dc6;
            border-top: 1px solid #148dc6;
            background-color: var(--background-background);

            p {
                padding: 0;
                margin: 0.25rem 0;
            }
        }

        th {
            background-color: var(--background-background);
            border-bottom: 1px solid #148dc6;
        }

        td:empty {
        }

        .selectedCell {
            background: #7fcbe8;
        }
    }

    &[data-type="code"] {
        figcaption {
            &:before {
                content: "Code title";
            }
        }
    }

    [has-caption="true"][has-notes="false"] {
        figcaption {
            &::after {
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                opacity: 0.8;
                color: rgba(var(--grey-default), 1);
                content: "Add a caption and press enter to add notes";
            }
        }
    }

    a[data-type="xref"] {
        font-style: italic;
        text-decoration: none;
        background: rgba(var(--primary-color-300), 1);
    }

    a[data-type="xref"][data-target="figure"]:before {
        content: "fig ";
    }

    a[data-type="xref"][data-target="heading"]:before {
        content: "h" attr(data-target-level) " ";
    }
}

// blockquote style
.ProseMirror blockquote {
    padding-left: 1em;
    border-left: 3px solid #eee;
    margin-left: 0;
    margin-right: 0;
}

@import "../../../../reference-app/src/scss/codemirror.scss";

// mathjax styling
.js-math {
    // reset properties set by ProseMirror
    white-space: normal;
    cursor: pointer;
    user-select: all;
}

.js-math-inline {
    display: inline-table;
}

.js-math-block {
    display: block;
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem;
    text-align: center;
}

.MathJax_Display {
    margin: 0;
}

.js-math-empty {
    background: #ddd;
    min-width: 1em;
}

.editor {
    z-index: 0;
}

sfo-structure-menu {
    color: rgba(var(--foreground-text), 1);
}

cite:focus {
    background-color: yellow;
}

// pageBreak styling

[data-type="page-break"] {
    display: block;
    opacity: 0.5;
    background: var(--background-background);
    border-top: 2px solid var(--foreground-divider);
    margin-bottom: 1.5rem;
}

[data-type="page-break"]:before {
    content: "page break";
}

// table column resize
.ProseMirror td,
.ProseMirror th {
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.ProseMirror .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
}

.ProseMirror.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

.structuring-overlay {
    background: red;
    border: 2px dotted orange;
}

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 0;
}

.labels .ProseMirror {
    span[data-tags] {
        color: rgb(108, 158, 9);
        display: block;
    }
    span[data-tags]::before {
        display: block;
        font-size: 0.8rem;
        position: relative;
        text-align: right;
        top: 0;
        right: -5rem;
        color: yellowgreen;
        transform: translateX(2rem);
        content: attr(data-tags);
    }
}

[data-type="chapter"],
[data-type="abstract"],
[data-type="bibliography"],
[data-type="appendix"],
[data-type="part"],
[data-type="free"] {

    button {
        border-radius: 1rem;
        border: 1px transparent;
        padding: 0.25rem;
    }
    button:hover {
        cursor: pointer;
    }

    &::after {
        opacity: 0.6;
        display: block;
        text-align: right;
        width: 100%;
        font-size: 0.9rem;
        font-weight: normal;
        content: attr(data-placement) " " attr(data-role);
    }

    .part-editor {
        padding: 2.5rem 0.5rem 0.5rem 1rem;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        min-height: 5rem;
        box-shadow: rgba(var(--foreground-text), 0.06) 0px 0px 0px 1px;

        h1 {
            padding: 0;
            margin: 0 0 1rem 0;
        }

        h2::before { content: '##'; }
        h3::before { content: '###'; }
        h4::before { content: '####'; }
    
        h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }
    }
    &[data-type="free"] {
        .part-editor {
            box-shadow:
            rgba(var(--foreground-text), 0.01) 0px 2px 5px,
            rgba(30, 144, 255, 0.075) 0px 4px 10px,
            rgba(30, 144, 255, 0.05) 0px 6px 15px,
            rgba(30, 144, 255, 0.025) 0px 8px 20px,
            rgba(30, 144, 255, 0.01) 0px 10px 25px;
        }
    }

    .part-type-label {
        text-transform: uppercase;
        opacity: 0.5;
    }

    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem;

    &.selected {
        color: rgba(var(--background-card), 1);
        background: rgba(var(--foreground-text), 1);
    }
    
    min-height: 3rem;
    margin: 0.5rem 0 2.5rem 0;
    
    .part-editor {
        border: thin solid transparent;
    }

    &:hover {
        .part-type-label {
            color: rgba(var(--primary-color-500), 1);
        }
        .part-editor {
            border: thin solid rgba(var(--primary-color-200), 0.45);
        }
    }
}

.add-button {
    position: absolute;
    margin: 1rem auto;
    transform: translateX(50%);
    width: 32px;
    color: #eee;
    background-color: #7fcbe8;
    cursor: pointer;
    text-align: center;
    font-size: 1.35rem;
    transition: background-color 0.3s ease;
    
    &:hover {
        background-color: #5cb2d1;
    }
}

.dragger-top {
    
}

.dragger-bottom {
}

.dragger {
    position: relative;
    border: thin dashed #eee;
    height: 0.2rem;
    width: 40%;
    text-align: center;
    margin: 1rem auto;
    position: relative;
    cursor: row-resize;
    background: #eee;
}
.dragger:hover {
    background: #ddd;
}

.dragger:active {
    filter: invert(1);
    cursor: grabbing;
}

.dragover {
    filter: invert(1);
}
