@if isDebug() {
    .JournalTitle::before {
        position: absolute;
        transform: translateX(-1rem);
        content: "JournalTitle";
        color: red;
        width: 100%;
    }
    .JournalTitle {
        border: 1px dotted red;
    }
}

.authors[data-author-names] {
    string-set: author-names attr(data-author-names);
}

.JournalTitle.#{getUniqueKey()} {
    margin: 0;
    margin-bottom: 2rem;
    break-before: never;

    h1 {
        font-size: #{get("typography.title.fontSize", "1.4rem")};
        font-weight: #{get("typography.title.fontWeight", "bold")};
        line-height: #{get("typography.title.lineHeight", "inherit")};
        text-align: #{get("typography.subTitle.textAlign", "start")};
        margin-bottom: 0.125rem;
        string-set: journal-title content();
        -prince-bookmark-level: 1;
        -prince-bookmark-state: closed;
    }
    
    h2 {
        margin: 0;
        text-align: #{get("typography.subTitle.textAlign", "start")};
        font-size: calc(#{get("typography.subTitle.fontSize", "1.7rem")});
        font-weight: #{get("typography.subTitle.fontWeight", "bold")};
        string-set: journal-subtitle content();
        -prince-bookmark-level: none;
    }

    .authors {
        font-weight: #{get("typography.authors.fontWeight", "normal")};
        font-style: #{get("typography.authors.fontStyle", "normal")};
        font-size: #{get("typography.authors.fontSize", "1rem")};
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .affiliations,
    .corresponding {
        font-weight: lighter;
        font-size: #{get("typography.affiliations.fontSize", "0.9rem")};
    }

    .author-comments {
        line-height: 1;
        p {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }

    @if isPagedMedia() {
        .author-comments {
            font-size: #{get("typography.affiliations.fontSize", "0.9rem")};
            margin: 1rem 0;
            -prince-float-reference: page;
            -prince-float-placement: bottom;
        }
    } @else {
        .author-comments {
            font-size: #{get("typography.affiliations.fontSize", "0.9rem")};
        }
    }
}
