:host {
    display: block;

    &.card-interactive {
        .user-card {
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: #EAEAEA;
            }
        }
    }

    &.selected {
        .user-card {
            background: rgba(var(--background-user-card), 1);
        }
    }
}

h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin: 0px;
}
