@use "./styles/base.scss";

:root {
    --line-height: #{get("page.font.lineHeight")};
    --text-indent: #{get("indent")};
}

body {
    font-family: #{get("page.font.family")};
    font-size: #{get("page.font.size")};
    line-height: #{get("page.font.lineHeight")};
    text-align: #{get("page.font.textAlign")};
    -webkit-hyphens: #{get("page.hyphens", "auto")};
    hyphens: #{get("page.hyphens", "auto")};
}

p {
    text-indent: #{get("indent")};
}

p:not(:empty) {
    margin-bottom: #{get("paragraphSpacing")};
}

li {
    p {
        text-indent: initial;
    }
}
