@use "sass:map";

mat-expansion-panel {
  border-radius: 0.2rem;

  $admonition-colors: (
    info: (
      color: hsl(187, 100%, 41%),
      bg: hsla(187, 100%, 41%, 0.1),
    ),
    success: (
      color: hsl(149, 100%, 40%),
      bg: hsla(123, 39%, 49%, 0.1),
    ),
    warning: (
      color: hsl(36, 100%, 50%),
      bg: hsla(36, 100%, 50%, 0.1),
    ),
    tip: (
      color: hsl(168, 100%, 37%),
      bg: hsla(123, 39%, 49%, 0.1),
    ),
    note: (
      color: hsl(231, 48%, 48%),
      bg: hsla(231, 48%, 48%, 0.1),
    ),
    danger: (
      color: hsl(4, 90%, 58%),
      bg: hsla(4, 90%, 58%, 0.1),
    ),
    default: (
      color: hsl(0, 0%, 62%),
      bg: hsl(0, 0%, 93%),
    ),
  );

  // Loop through the map and apply the styles
  @each $type, $values in $admonition-colors {
    border: thin solid map.get($values, color);

    &.admonition-#{$type} {
      border-color: map.get($values, color);

      .mat-expansion-panel-header {
        background-color: map.get($values, bg);
        color: var(--mat-expansion-header-text-color);
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .mat-expansion-panel-header-title {
          display: block;
          flex-grow: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .admonition-icon {
        margin-right: 8px;
        vertical-align: middle;
        flex-shrink: 0;
        color: map.get($values, color);
      }
    }

    .mat-expansion-panel-header {
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: map.get($values, color);

      &.mat-expanded {
        height: var(--mat-expansion-header-collapsed-state-height);
      }
    }

    .material-icons {
      color: map.get($values, color);
      transition: transform 0.3s ease; /* Smooth transition for icon rotation */
    }
  }

  .mat-expanded .header-toggle {
    transform: rotate(90deg);
  }
}

.admonition-content {
  padding-top: 1rem;
}
