.preset-info {
  font-size: 12px;
  color: hsl(207, 100%, 56%);
}

.initial-message {
  font-size: 12px;
  color: black;
  width: 100%;
}

.items-center {
  display: flex;
  align-items: center;
}

.items-center.flex-end {
  justify-content: flex-end;
}

.items-center.flex-start {
  justify-content: flex-start;
  width: 100%;
}

.active {
  font-weight: bold;
}
