@if isDebug() {
    .Listings::before {
        position: absolute;
        content: "individualPage: " get("individualPage");
    }
}
.Listings {
    // we don't want the caption to go too close to the numbering
    // (or even go below it) so we move it out of the way
    $marginForNumbering: 2rem;
    padding-right: $marginForNumbering;
    margin: 0;

    &.section-like {
        padding-top: 0;
    }

    a.link-with-target {
        break-inside: avoid;
        display: block;

        @if get("alignLabels") {
            position: relative;
            /* repositioning figure counter */
            span.label {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .caption {
            margin-right: $marginForNumbering;
        }
    }

    .link-with-target:after {
        margin: 0;
        padding: 0;
        margin-right: -$marginForNumbering;
        margin-left: -$marginForNumbering;
        content: leader("#{get('leader')}") " " target-counter(attr(href), page);
    }

    @if get("individualPage") == 'listings' {
        break-before: page;
    }

    .listing {
        @if get("individualPage") == 'each-listing' {
            break-before: page;
            -prince-page-group: start;
        }

        @if get("individualPage") == 'each-listing-recto' {
            break-before: recto;
            -prince-page-group: start;
        }
    }

    ul,
    li {
        margin: 0 0 0.3rem 0;
        padding: 0;
        list-style: none;
        hyphens: #{get('hyphenation')};
        text-align: left;
        ul {
            break-before: avoid;
        }
    }
}
;
;
