$table1-settings: (
  border-width: 1px,
  border-color: #ccc,
  header: (
    background-color: #f0f0f0,
    font-weight: bold,
  ),
  cell: (
    padding: 10px,
  ),
  alternate-row: (
    background-color: #f9f9f9,
  ),
  tbody: (
    border-top: (
      width: 2px,
      color: #848c95,
    ),
    border-bottom: (
      width: 2px,
      color: #848c95,
    ),
  ),
);

$apa-table-settings: (
  border-width: 0px,
  border-color: transparent,
  header: (
    background-color: transparent,
    font-weight: bold,
    text-align: center,
  ),
  cell: (
    padding: 6px,
    text-align: left,
  ),
  alternate-row: (
    background-color: transparent,
  ),
  tbody: (
    border-top: (
      width: 1px,
      color: #000000,
    ),
    border-bottom: (
      width: 1px,
      color: #000000,
    ),
  ),
);

$table2-settings: (
  border-width: 1px,
  border-color: #313131,
  header: (
    background-color: #DADADA,
    font-weight: normal,
    text-align: center,
  ),
  cell: (
    padding: 6px,
    text-align: left,
  ),
  alternate-row: (
    background-color: transparent,
  ),
  tbody: (
    border-top: (
      width: 1px,
      color: #000000,
    ),
    border-bottom: (
      width: 1px,
      color: #000000,
    ),
  ),
);

$table3-settings: (
  border-width: 1px,
  border-color: black,
  header: (
    background-color: transparent,
    font-weight: bold,
    text-align: center,
  ),
  cell: (
    padding: 6px,
    text-align: left,
  ),
  alternate-row: (
    background-color: transparent,
  ),
  tbody: (
    border-top: (
      width: 1px,
      color: #000000,
    ),
    border-bottom: (
      width: 1px,
      color: #000000,
    ),
  ),
);

// styling for tables outside of figures
$plain-outside-settings: (
  border-width: 0,
  border-color: transparent,
  header: (
    background-color: #DADADA,
    font-weight: normal,
    text-align: center,
  ),
  cell: (
    padding: 2px 10px 2px 0,
    text-align: left,
  ),
  alternate-row: (
    background-color: transparent,
  ),
  tbody: (
    border-top: (
      width: 1px,
      color: transparent,
    ),
    border-bottom: (
      width: 1px,
      color: transparent,
    ),
  ),
);

$plain-settings: (
  border-width: 1px,
  border-color: transparent,
  header: (
    background-color: #DADADA,
    font-weight: normal,
    text-align: center,
  ),
  cell: (
    padding: 3px,
    text-align: left,
  ),
  alternate-row: (
    background-color: transparent,
  ),
  tbody: (
    border-top: (
      width: 1px,
      color: transparent,
    ),
    border-bottom: (
      width: 1px,
      color: transparent,
    ),
  ),
);

$table-themes: (
  plain: $plain-settings,
  plain-outside: $plain-outside-settings,
  apa: $apa-table-settings,
  table1: $table1-settings,
  table2: $table2-settings,
  table3: $table3-settings
);

@mixin styleTable($theme: 'apa') {
  $table-settings: map-get($table-themes, $theme);
  table {
    th,
    td {
      border: map-get($table-settings, border-width) solid map-get($table-settings, border-color);
      padding: map-get($table-settings, cell, padding);

      p:not(:empty) {
        padding: 0;
        margin: 0;
      }

      p:not(:first-child):not(:empty) {
        margin-top: 0.35em;
      }
    }

    th {
      background-color: map-get($table-settings, header, background-color);
      font-weight: map-get($table-settings, header, font-weight);
    }

    tr:nth-child(even) {
      background-color: map-get($table-settings, alternate-row, background-color);
    }

    tbody {
      border-top: map-get($table-settings, tbody, border-top, width) solid
        map-get($table-settings, tbody, border-top, color);
      border-bottom: map-get($table-settings, tbody, border-bottom, width) solid
        map-get($table-settings, tbody, border-bottom, color);
    }
  }

  @if isRunner('epub') {
    @media (prefers-color-scheme: dark) {
      table {
        th {
          $header-settings: map-get($table-settings, header);
          $original-bg: map-get($header-settings, background-color);

          @if $original-bg == null or $original-bg == transparent {
            background-color: #2b2b2b;
            color: #ffffff;
          } @else {
            background-color: darken($original-bg, 80%);
            color: #ffffff;
          }
        }

        th,
        td {
          border-color: #444;
        }

        tbody {
          border-color: #444;
        }
      }
    }
  }
}
