mat-expansion-panel {
  mat-expansion-panel-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

mat-expansion-panel.mat-expanded {
  background: var(--mat-expansion-header-hover-state-layer-color);
}

.mat-panel-header {
  display: flex;
  align-items: center;
}

.mat-panel-title {
  flex-shrink: 0;
}

.mat-panel-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: auto; /* Ensure it pushes to the end */
}

.table-container {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px 0;

  .table-cell {
    flex: 1;
    padding: 0 8px;
  }
}

.array-section {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.array-item {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.header-row {
  background-color: #f1f1f1;
  font-weight: bold;
}

.item-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-actions {
  margin-left: 10px;
}
