a {
    color: var(--background-background);
    text-decoration: none;
}

.bg-grey {
    background: rgba(var(--background-card), 1);
}

mat-toolbar {
    margin-bottom: 2px;
}

.secondary-menu {
    .save {
        background-color: rgba(var(--foreground-button), 1);
        color: rgba(var(--background-app-bar), 1);
    }

    button {
        margin-left: 5px;
        z-index: 35;
    }
}

.title-text {
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

.export-form {
    mat-icon {
        font-size: 20px;
        cursor: pointer;
    }
}

.caps {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.85rem;
    padding-bottom: 2px;
}

.disable {
    pointer-events: none;
    opacity: 0.7;
}

.display {
    display: none;
}