:host {
  display: flex;
  flex-direction: column;
  max-width: 4em;
  border-radius: 0.5rem;
  border: none;
}

.menu {
  display: block;
  background: rgba(var(--background-background), 1);
}

.label {
  font-size: 0.9rem;
}

.chapter-options {
  font-size: 0.75rem;
}
