.TableOfContents {
    margin: 0;

    &.section-like {
        padding-top: 0;
    }
    
    @if get("individualPage", "", "Listings") == "each-listing" {
        // put the toc on a new page
        break-before: page;
        -prince-page-group: start;
    }

    @if get("individualPage", "", "Listings") == "each-listing-recto" {
        // put the toc on a right
        break-before: recto;
        -prince-page-group: start;
    }

    @if get("individualPage", "", "Listings") == "listings" {
        // put the toc on a new page (without the other listings which will all be on one page)
        break-before: page;
        -prince-page-group: start;
    }

    // we don't want the caption to go too close to the numbering
    // (or even go below it) so we move it out of the way
    $marginForNumbering: 2rem;
    padding-right: $marginForNumbering;
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
        hyphens: #{get("hyphenation")};
        text-align: left;
    }

    li {
        -prince-pdf-tag-type: TOCI;
    }

    ul {
        margin-bottom: 0.125rem;
        -prince-pdf-tag-type: TOC;
    }

    li:first-child {
        @if isDebug() {
            .toc-title {
                border-left: 3px solid lightgreen;
            }
            .toc-title::before {
                background: yellow;
                font-size: 0.8rem;
                text-decoration: line-through;
                content: "break before";
                color: grey;
            }
        }
        break-before: avoid;
    }
    li:last-child:not([data-toc-level="1"]):not(:has(> ul)) {
        @if isDebug() {
            .toc-title {
                border-left: 1px solid green;
            }
            .toc-title::before {
                background: yellow;
                font-size: 0.8rem;
                text-decoration: line-through;
                content: "break before";
                color: grey;
            }
        }
        break-before: avoid;
    }
    li:nth-last-child(2):not([data-toc-level="1"]):not(:has(> ul)) {
        @if isDebug() {
            .toc-title {
                border-left: 1px solid green;
            }
            .toc-title::before {
                background: yellow;
                font-size: 0.8rem;
                text-decoration: line-through;
                content: "break before";
                color: grey;
            }
        }
        break-before: avoid;
    }
    li:nth-last-child(3):not([data-toc-level="1"]):not(:has(> ul)) {
        @if isDebug() {
            .toc-title {
                border-left: 1px solid rgb(0, 65, 0);
            }
        }
        break-before: auto; // this one allows breaking before
    }

    a {
        color: inherit;
        text-decoration: none;
        hyphens: #{get("hyphenation")};
        text-align: left;
        break-inside: avoid;
    }

    @if isDebug() {
        .link-with-target {
            .toc-title {
                border-left: 1px solid black;
            }
        }
    }

    .link-with-target {
        &:after {
            margin: 0;
            padding: 0;
            margin-right: -$marginForNumbering;
            margin-left: -$marginForNumbering;
            content: leader("#{get('leader')}") target-counter(attr(href), page, attr(data-counter-style, decimal));
        }
        .toc-title {
            margin-right: $marginForNumbering;
        }
    }

    li[data-numbering]:not([data-numbering="none"]) {
        a {
            display: block;
            position: relative;
            /* repositioning chapter counter */
            span.label {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &[data-toc-level="1"] {
            margin-bottom: 0.5rem;
            > a {
                font-weight: bold;
                margin-top: 0;
            }
        }

        &[data-toc-level="2"] {
            margin-top: 0;
            a {
                margin-top: 0;
            }
        }

        &[data-toc-level="3"] {
            margin-top: 0;
            a {
                margin-top: 0;
            }
        }

        &[data-toc-level="4"] {
            margin-top: 0;
            a {
                margin-top: 0;
            }
        }

        &[data-toc-level="5"] {
            margin-top: 0;
            a {
                margin-top: 0;
            }
        }
    }
}
