<div class="HeadersAndFooters {{getUniqueKey}}">
    {{!-- The header on recto pages (for LTR this means right) --}}
    <style>
        .{{getPage}} .{{getUniqueKey}} .recto-page-header {
            display: flex;
            flex-direction: column;
            text-align: right;
            font-style: italic;
        }

        .{{getPage}} .{{getUniqueKey}} .header-sub-title {
            margin-top: 1cm;
        }

        @page {{getPage}}:first {
            margin-top: {{get 'typography.header.height'}};
            @top {
                content: none;
            }
        }
    </style>
    <div class="recto-page-header flex justify-between col-12">
        <div class="header-sub-title" style="content: string(sub-heading-text-numbering) string(sub-heading-separator) string(sub-heading-text-title)"></div>
    </div>

    {{!-- The footer on recto pages --}}
    <style>
        .{{getPage}} .recto-page-footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: right;
        }
    </style>
    <div class="recto-page-footer flex justify-between pt2 col-12">
        <div>
            {{getMetaData 'journal-meta.title'}}
            {{#if (getMetaData 'article-meta.volume')}}
            | Vol. {{getMetaData
            'article-meta.volume'}} ({{getYear (getMetaData 'article-meta.history.epubDate')}})
            {{^}}{{/if}}
        </div>
        <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
    </div>

    {{!-- The header on verso pages (for LTR this means left) --}}
    <style>
        .{{getPage}} .verso-page-header {
            display: flex;
            flex-direction: column;
            text-align: left;
            font-style: italic;
        }

        .{{getPage}} .header-title {
            margin-top: 1cm;
        }
    </style>
    <div class="verso-page-header flex justify-between col-12">
        <div class="header-title" style="content: string(main-heading-text-numbering, first-except) string(main-heading-separator) string(main-heading-text-title, first-except)"></div>
    </div>

    {{!-- The footer on verso pages --}}
    <div class="verso-page-footer flex pt2 justify-between col-12">
        <span class="page-number" style="content: counter(page, {{get 'pageCounter.style'}});"></span>
        <div>
            {{getMetaData 'journal-meta.title'}}
            {{#if (getMetaData 'article-meta.volume')}}
            | Vol. {{getMetaData
            'article-meta.volume'}} ({{getYear (getMetaData 'article-meta.history.epubDate')}})
            {{^}}{{/if}}
        </div>
    </div>
</div>