@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/export/static/fonts/work-sans/font/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  src: prince-lookup("Work Sans"), url("/export/static/fonts/work-sans/font/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 500;
  src: url("/export/static/fonts/work-sans/font/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  src: prince-lookup("Work Sans"), url("/export/static/fonts/work-sans/font/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/export/static/fonts/work-sans/font/WorkSans-VariableFont_wght.ttf") format("truetype");
  src: prince-lookup("Work Sans"), url("/export/static/fonts/work-sans/font/WorkSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/export/static/fonts/work-sans/font/WorkSans-VariableFont_wght.ttf") format("truetype");
  src: prince-lookup("Work Sans"), url("/export/static/fonts/work-sans/font/WorkSans-VariableFont_wght.ttf") format("truetype");
}