@use "@sciflow/tdk/styles/debug" as debug;

body {
    -webkit-hyphens: #{get("hyphens", "auto")};
    hyphens: #{get("hyphens", "auto")};
}

body {
    // maximum number of consecutive lines that may end with a hyphenated word
    -prince-hyphenate-lines: 4;
    // minimum number of letters in a word that may be left at the end of a line when the word is hyphenated
    -prince-hyphenate-before: 3;
    // minimum number of letters in a word that may be moved to the next line when the word is hyphenated
    -prince-hyphenate-after: 3;
}

@for $n from 1 through 5 {
    h#{$n} {
        font-size: #{get("h" + $n + ".fontSize", "revert")};
        font-weight: #{get("h" + $n + ".fontWeight", "bold")};
        font-style: #{get("h" + $n + ".fontStyle", "normal")};
        text-align: #{get("h" + $n + ".align", "start")};
        @if exists("h" + $n + ".case") {
            @if (get("h" + $n + ".case") == "uppercase") {
                text-transform: uppercase;
            }
            @if (get("h" + $n + ".case") == "capitalize") {
                text-transform: capitalize;
            }
            @if (get("h" + $n + ".case") == "small-caps") {
                font-variant-caps: small-caps;
            }
            @if (get("h" + $n + ".case") == "all-small-caps") {
                font-variant-caps: all-small-caps;
            }
        }
        @if exists("h" + $n + ".lineHeight") {
            line-height: #{get("h" + $n + ".lineHeight")};
        }
        @if exists("h" + $n + ".letterSpacing") {
            letter-spacing: #{get("h" + $n + ".letterSpacing")};
        }
        @if exists("h" + $n + ".marginTop") {
            margin-top: #{get("h" + $n + ".marginTop")};
        }
        @if exists("h" + $n + ".marginBottom") {
            margin-bottom: #{get("h" + $n + ".marginBottom")};
        }
        @if exists("h" + $n + ".fontFamily") {
            font-family: #{get("h" + $n + ".fontFamily")};
        }
        break-after: avoid;
        hyphens: manual;

        @if isDebug() {
            border: thin dotted yellowgreen;
            &::after {
                border: 1px dotted #555;
                position: absolute;
                content: "";
                @include debug.annotate(
                    "",
                    "h" + $n + " size: #{get("h" + $n + ".fontSize", "1.2rem")}\nweight: #{get("h" + $n + ".fontWeight", "bold")}\nalign: #{get("h" + $n + ".align", "start")}\nline-height: #{get("h" + $n + ".lineHeight")}\ntop: #{get("h" + $n + ".marginTop")}\nbottom: #{get("h" + $n + ".marginBottom")}"
                );
            }
        }
    }
}

@if get("structuralParagraph.asHeading") {
    [role="heading"] {
        break-after: avoid;
        text-indent: initial;
        @if isDebug() {
            border: thin solid greenyellow;
        }
    }
    @if exists("structuralParagraph.headingEmulation") {
        [role="heading"] {
            font-size: #{get("structuralParagraph.headingEmulation.fontSize", "1rem")};
            font-weight: #{get("structuralParagraph.headingEmulation.fontWeight", "bold")};
            line-height: #{get("structuralParagraph.headingEmulation.lineHeight")};
            letter-spacing: #{get("structuralParagraph.headingEmulation.letterSpacing")};
            margin-top: #{get("structuralParagraph.headingEmulation.marginTop")};
            margin-bottom: #{get("structuralParagraph.headingEmulation.marginBottom")};
            hyphens: manual;
        }
        [role="heading"]:not([text-align]) {
            text-align: #{get("structuralParagraph.headingEmulation.align", "start")};
        }
    }
}

/** Front sections with basic journal elements*/

.front {
    font-size: #{get("front.fontSize", "inherit")};
    h1 {
        font-size: #{get("front.h1.fontSize", "1rem")};
        font-weight: #{get("front.h1.fontWeight", "bold")};
        text-align: #{get("front.h1.align", "start")};
        @if exists("front.h1.marginBottom") {
            margin-bottom: #{get("front.h1.marginBottom")};
        }
        @if exists("front.h1.marginTop") {
            margin-top: #{get("front.h1.marginTop")};
        }

        break-after: avoid;
        @if get("front.h1.inline", true) {
            padding-right: 0.3rem;
            display: inline;
        }
    }

    p {
        @if exists("front.indent") {
            text-indent: #{get("front.indent")};
        }
        @if exists("front.lineHeight") {
            line-height: #{get("front.lineHeight")};
        }
    }

    /** For inline headings we want the paragraph to be on the same line as the heading */
    h1 + p {
        @if get("front.h1.inline") {
            text-indent: none;
            display: inline;
        }
    }

    section {
        margin: #{get("front.margin", "0.25em")};
        font-size: #{get("front.fontSize", "inherit")};
        @if exists("front.indent") {
            text-indent: #{get("front.indent")};
        }
        @if exists("front.lineHeight") {
            line-height: #{get("front.lineHeight")};
        }
    }
}

ul,
ol {
    @if isDebug() {
        border: thin solid greenyellow;
    }
    margin: 0.125rem 0;
    padding-left: #{get("lists.paddingStart")};
    margin-left: #{get("lists.marginStart")};

    li {
        @if isDebug() {
            border: thin dotted greenyellow;
        }
        p:not(:empty) {
            margin: 0.3rem;
        }
    }
}

ul:not(ul li ul),
ol:not(ol li ol) {
    margin-top: #{get("typesetting.paragraphSpacing", "Page", "0.5rem")};
    margin-bottom: #{get("typesetting.paragraphSpacing", "Page", "0.75rem")};
}

table {
    ul:not(ul li ul),
    ol:not(ol li ol) {
        margin: 0 0 0 0.125rem;
    }
    ol,
    ul {
        margin: 0 0 0 0.125rem;
        padding: 0 1rem 0 1.25rem;
        li {
            margin: 0;
            padding: 0;
        }
    }
}

[dir="rtl"],
[text-direction="rtl"] {
    ul,
    ol {
        padding-left: 0;
        padding-right: #{get("lists.paddingStart")};
    }
}

/**
Chapter numbering can be done inline by the use of a <span> element or with a ::before pseudo element.
* Defaults to inline.
*/
@if get("numberingInline") == false {
    /* Creating before elements to display counters */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        text-indent: initial;
        break-after: avoid;
        break-inside: avoid;
        text-align: left;
        hyphens: manual;
    }

    h1 span[data-numbering]:before,
    h2 span[data-numbering]:before,
    h3 span[data-numbering]:before,
    h4 span[data-numbering]:before,
    h5 span[data-numbering]:before,
    h6 span[data-numbering]:before {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-numbering);
    }

    /* setting specific headings to block */
    h1 span[data-numbering],
    h2 span[data-numbering],
    h3 span[data-numbering],
    h3 span[data-numbering],
    h4 span[data-numbering] {
        display: block;
        hyphens: manual;
    }
} @else {
    .numbering-string {
        padding-right: 0.5rem;
    }

    @if get("alignHeadings") {
        .heading {
            display: block;
            position: relative;
            .numbering-string {
                position: absolute;
                left: 0;
            }
            .heading-title {
                display: inline-block;
            }
        }
    }
}

/** Block quotes / poetry */
blockquote {
    font-size: #{get("blockquote.fontSize")};
    text-indent: #{get("blockquote.indent")};
    margin: #{get("blockquote.margin")};
    line-height: #{get("blockquote.lineHeight")};
    font-style: #{get("blockquote.fontStyle")};
}

blockquote[data-type="poetry"] {
    white-space: pre;
    font-size: #{get("poetry.fontSize")};
    line-height: #{get("poetry.lineHeight")};
    page-break-inside: initial;
    p {
        text-indent: initial;
        margin: 0;
    }
}

[data-type="bibliography"] {
    p:not(li p),
    p:not(li p):first-of-type,
    p:not(li p):not(:empty),
    .csl-entry:not(li .csl-entry) {
        text-indent: #{get("bibliography.indent")};
        margin: #{get("bibliography.margin")};
    }

    .csl-right-inline {
        text-indent: initial;
    }

    .csl-entry[data-second-field-align="flush"] {
        display: flex;
        text-indent: initial;
        .csl-left-margin {
            display: inline;
            min-width: 3rem;
        }
        .csl-right-inline {
            display: inline;
        }
    }

    text-align: #{get("bibliography.align")};
    font-size: #{get("bibliography.fontSize")};
    word-wrap: break-word;
    hyphens: manual;
    line-height: #{get("bibliography.lineHeight")};

    ol {
        margin-left: 1.25em;
    }

    ol[data-list-style-type="decimal-brackets"] {
        margin-left: 2em;
        li {
            padding-left: #{get("bibliography.indent")};
        }
    }
}

li {
    p {
        margin: 0.35em 0;
        text-align: #{get("lists.alignText")};
    }
}

ul {
    break-before: avoid;
}

li:first-child {
    break-after: avoid;
}

/* do not break before a last list element (with lists > 1) */
li:last-child:not(li:only-child) {
    @include debug.annotate("Not breaking before", "Not breaking before last list element");
    break-before: avoid;
}

/* CSS does not have the concept of a 0th last child, so we need the statement above */
@for $n from 1 through get("lists.dontBreakLast") {
    li:nth-last-child(#{$n}):not(li:only-child) {
        @include debug.annotate("Not breaking before", "Not breaking before #{$n}th last list element");
        break-before: avoid;
    }
}

@if not isRunner("pagedjs") {
    // Pagedjs does not support has
    li:has(ul, ol),
    li:first-child:has(ul, ol) {
        @if isDebug() {
            @include debug.annotate("Allow breaks", "Allowing breaks after because the list is nested");
        }
        break-after: auto;
    }
}

@if isDebug() {
    bdi {
        border: 1px solid #bf12f3;
    }

    span[lang],
    p[lang] {
        border: 1px dashed #900eb8;
    }
}

// paragraphs after block elements that should not have text-indent
$blockElements: ul, ol, li, figure, blockquote, "p:empty", h1, h2, h3, h4, h5, h6, '[role="heading"]';
@each $element in $blockElements {
    #{$element} + p,
    #{$element} + p:not(:empty) {
        text-indent: initial;
    }
}

// figures should only reset the indent if they were not floated (because they may end up anywhere but on top of the paragraph)
.figure-wrapper + p,
.figure-wrapper:not([data-float-placement]) + p {
    text-indent: initial;
}

p:first-of-type {
    text-indent: initial;
}

li {
    p {
        text-indent: initial;
    }
}

@if isDebug() {
    p {
        background: #eee;
    }
}
