<footer class="p2 main-footer">
    <nav class="flex justify-end" aria-label="footer navigation">
        {{ range .Site.Menus.footer }}
            {{ if eq (hasPrefix .URL "mailto:") true }}
                <a href="{{ .URL }}" class="m1">{{ .Name }}</a>
            {{ else }}
                <a href="{{ .URL | relLangURL }}" class="m1">{{ .Name }}</a>
            {{ end }}
        {{ end }}
    </nav>
</footer>