<header class="p2 main-header">
    <nav class="flex items-center justify-between flex-wrap" aria-label="main navigation">
      <a href="{{ "/" | relLangURL }}" class="main-logo mr1 block">
        <img src="{{ print "images/" .Site.Params.logo | absURL }}" style="max-width: 20rem; margin: 1rem;" alt="sciflow-org logo" class="block">
      </a>
      <div class="flex items-center flex-wrap">
        {{ range .Site.Menus.main }}
          {{ if eq (hasPrefix .URL "mailto:") true }}
            <a href="{{ .URL }}" class="mdc-button {{ .Params.class }}">{{ .Name }}</a>
          {{ else }}
            <a href="{{ .URL | relLangURL }}" class="mdc-button {{ .Params.class }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      </div>
      
    </nav>
  </header>