<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ .Site.BaseURL }}">
    <meta name="description" content="{{ .Description }}">
    <link rel="canonical" href="{{.Permalink}}"/>
    {{/* Get all resources from /assets/css bundle and minify */}}
    {{ $fonts_css := resources.Get "css/fonts/fonts.css" }}
    {{ $bass_css := resources.Get "css/basscss/basscss.css" }}
    {{ $rm_css := resources.Get "css/basscss/responsive-margin.css" }}
    {{ $rp_css := resources.Get "css/basscss/responsive-padding.css" }}
    {{ $rt_css := resources.Get "css/basscss/responsive-typography.css" }}
    {{ $mdc_theme_css := resources.Get "css/mdc/mdc-theme.css" }}
    {{ $mdc_button_css := resources.Get "css/mdc/mdc-button.css" }}
    {{ $main_css := resources.Get "css/main.css" }}

    {{ $styles_css := slice $fonts_css $bass_css $rm_css $rp_css $rt_css $mdc_theme_css $mdc_button_css $main_css | resources.Concat "css/styles.css" | resources.Minify }}
    <link rel="stylesheet" type="text/css" href="{{ $styles_css.RelPermalink }}">
    <script defer data-domain="sciflow.org" src="https://plausible.io/js/script.js"></script>

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>